In [22]:
import pandas as pd
import numpy as np
import re

import seaborn as sns
import matplotlib.pyplot as plt

# Report 2024: a

In [23]:
# df turnover, gross turnover, net turnover, taxes, types of payment, taxes by payment method, reveneu breakdowns, cancellations, discounts, tables

columns_a = ['Item','PLU', 'Count', 'Total', '%', 'Tip']
repo24_a = pd.read_csv('../data_files/report-year-2024-112439.csv', sep=';', skiprows=6, nrows=171, names=columns_a)

In [24]:
# check df

print(repo24_a.head())
print(repo24_a.columns)
print(repo24_a.info())

              Item  PLU  Count      Total        %  Tip
0            Total  NaN    NaN  490077.96  93.01 %  NaN
1         Expenses  NaN    NaN       0.00   0.00 %  NaN
2  Service charges  NaN    NaN       0.00   0.00 %  NaN
3              Tip  NaN    NaN   36849.71   6.99 %  NaN
4              NaN  NaN    NaN        NaN      NaN  NaN
Index(['Item', 'PLU', 'Count', 'Total', '%', 'Tip'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Item    162 non-null    object
 1   PLU     0 non-null      float64
 2   Count   119 non-null    float64
 3   Total   153 non-null    float64
 4   %       153 non-null    object
 5   Tip     17 non-null     float64
dtypes: float64(4), object(2)
memory usage: 8.1+ KB
None

In [25]:
# drop 'PLU' (column only NaN values)

repo24_a['PLU'].values
repo24_a.drop(columns=['PLU'], inplace=True)

In [26]:
# drop rows with only NaN values

repo24_a = repo24_a.dropna(how='all')

In [27]:
# check values on 'Item' column

repo24_a.reset_index(drop=True, inplace=True)
list(repo24_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, 'Gross turnover'),
 (5, '19.000%'),
 (6, '7.000%'),
 (7, 'total'),
 (8, 'Net turnover'),
 (9, '19.000%'),
 (10, '7.000%'),
 (11, 'total'),
 (12, 'Taxes'),
 (13, '19.000%'),
 (14, '7.000%'),
 (15, 'total'),
 (16, 'Types of payment'),
 (17, 'Bar'),
 (18, 'Deliverect Zahlung'),
 (19, 'Kartenzahlung'),
 (20, 'Maestro'),
 (21, 'MasterCard'),
 (22, 'Mehrzweckgutschein einlösen'),
 (23, 'Uber eats Zahlung'),
 (24, 'Visa'),
 (25, 'Visa Electron'),
 (26, 'Wolt Zahlung'),
 (27, 'total'),
 (28, 'Taxes by payment method'),
 (29, 'Bar - 7.00%'),
 (30, 'Bar - 19.00%'),
 (31, 'Kartenzahlung - 19.00%'),
 (32, 'Maestro - 7.00%'),
 (33, 'Maestro - 19.00%'),
 (34, 'MasterCard - 7.00%'),
 (35, 'MasterCard - 19.00%'),
 (36, 'Mehrzweckgutschein einlösen - 7.00%'),
 (37, 'Mehrzweckgutschein einlösen - 19.00%'),
 (38, 'Uber eats Zahlung - 7.00%'),
 (39, 'Visa - 7.00%'),
 (40, 'Visa - 19.00%'),
 (41, 'Visa Electron - 7.00%'),
 (42, 'Visa Electron - 19.00%'),
 (43, 'Wolt Zahlung - 7.00%'),
 (44, 'Revenue Breakdown'),
 (45, 'Deliverect'),
 (46, 'Kaylin I PIN 1234'),
 (47, 'Service 1 | PIN 1234'),
 (48, 'Uber eats'),
 (49, 'Wolt'),
 (50, 'total'),
 (51, 'Cancellations'),
 (52, 'Customer changed their mind'),
 (53, 'Misinterpret'),
 (54, 'Reklamation'),
 (55, 'Sold out'),
 (56, 'Typo'),
 (57, 'total'),
 (58, 'Discounts'),
 (59, 'kaya soria'),
 (60, 'Daily Special'),
 (61, 'judo'),
 (62, '<3'),
 (63, 'customes left without paying :((((('),
 (64, 'Personal 1/2 Preis'),
 (65, 'Emilay'),
 (66, 'staff'),
 (67, 'gift card'),
 (68, 'daeng'),
 (69, 'Flyer'),
 (70, 'Orderhub Discount'),
 (71, 'neighbors'),
 (72, 'alex'),
 (73, 'Staff & friends'),
 (74, 'kai'),
 (75, 'marie and friends'),
 (76, 'staff & friends'),
 (77, 'daengs son'),
 (78, 'marie and lfriends'),
 (79, 'kaira'),
 (80, 'neighboor'),
 (81, 'table left without paylong'),
 (82, 'kaiiiiii'),
 (83, 'judooooo'),
 (84, 'ikaan mami'),
 (85, 'emilaylay'),
 (86, 'kiks'),
 (87, 'neighbour discount'),
 (88, 'Einladung'),
 (89, 'em'),
 (90, 'friends'),
 (91, 'staff friends'),
 (92, 'marie and friend'),
 (93, 'nachbarn '),
 (94, 'friend of marie'),
 (95, 'bettina'),
 (96, 'emily'),
 (97, 'emily :)'),
 (98, 'daisy'),
 (99, 'meghan friend'),
 (100, 'cali'),
 (101, 'alex lunch!'),
 (102, 'nachbarnschaft'),
 (103, 'friend'),
 (104, 'ambi'),
 (105, 'Neighbour '),
 (106, 'L'),
 (107, 'Nachbarschafts discoutn'),
 (108, 'friends discoint '),
 (109, 'emilele'),
 (110, 'pals'),
 (111, 'ramby '),
 (112, 'em takeaway'),
 (113, 'friend friend friend'),
 (114, 'rambi'),
 (115, 'elise'),
 (116, 'ebra'),
 (117, 'neighbours'),
 (118, 'neighbour'),
 (119, 'Porky McPoo 04.05.2024'),
 (120, 'orla '),
 (121, 'friend meghan'),
 (122, 'ola and friend'),
 (123, 'ramby'),
 (124, 'bert'),
 (125, 'meg friends'),
 (126, 'yasya'),
 (127, 'last day'),
 (128, 'total'),
 (129, 'Tables'),
 (130, 'D 1'),
 (131, 'D 10'),
 (132, 'D 11'),
 (133, 'D 2'),
 (134, 'D 3'),
 (135, 'D 4'),
 (136, 'D 5'),
 (137, 'D 6'),
 (138, 'D 7'),
 (139, 'D 8'),
 (140, 'D 9'),
 (141, 'D12'),
 (142, 'D13'),
 (143, 'Online'),
 (144, 'Table 17'),
 (145, 'Tisch 1'),
 (146, 'Tisch 10'),
 (147, 'Tisch 11'),
 (148, 'Tisch 12'),
 (149, 'Tisch 13'),
 (150, 'Tisch 14'),
 (151, 'Tisch 15'),
 (152, 'Tisch 16'),
 (153, 'Tisch 2'),
 (154, 'Tisch 3'),
 (155, 'Tisch 4'),
 (156, 'Tisch 5'),
 (157, 'Tisch 6'),
 (158, 'Tisch 7'),
 (159, 'Tisch 8'),
 (160, 'Tisch 9'),
 (161, 'To Go')]

In [28]:
# drop values in 'Item' column that are non-essential

repo24_a = repo24_a.drop([4, 8, 12, 16, 28, 44, 51, 58, 129])
repo24_a.reset_index(drop=True, inplace=True)

list(repo24_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, '19.000%'),
 (5, '7.000%'),
 (6, 'total'),
 (7, '19.000%'),
 (8, '7.000%'),
 (9, 'total'),
 (10, '19.000%'),
 (11, '7.000%'),
 (12, 'total'),
 (13, 'Bar'),
 (14, 'Deliverect Zahlung'),
 (15, 'Kartenzahlung'),
 (16, 'Maestro'),
 (17, 'MasterCard'),
 (18, 'Mehrzweckgutschein einlösen'),
 (19, 'Uber eats Zahlung'),
 (20, 'Visa'),
 (21, 'Visa Electron'),
 (22, 'Wolt Zahlung'),
 (23, 'total'),
 (24, 'Bar - 7.00%'),
 (25, 'Bar - 19.00%'),
 (26, 'Kartenzahlung - 19.00%'),
 (27, 'Maestro - 7.00%'),
 (28, 'Maestro - 19.00%'),
 (29, 'MasterCard - 7.00%'),
 (30, 'MasterCard - 19.00%'),
 (31, 'Mehrzweckgutschein einlösen - 7.00%'),
 (32, 'Mehrzweckgutschein einlösen - 19.00%'),
 (33, 'Uber eats Zahlung - 7.00%'),
 (34, 'Visa - 7.00%'),
 (35, 'Visa - 19.00%'),
 (36, 'Visa Electron - 7.00%'),
 (37, 'Visa Electron - 19.00%'),
 (38, 'Wolt Zahlung - 7.00%'),
 (39, 'Deliverect'),
 (40, 'Kaylin I PIN 1234'),
 (41, 'Service 1 | PIN 1234'),
 (42, 'Uber eats'),
 (43, 'Wolt'),
 (44, 'total'),
 (45, 'Customer changed their mind'),
 (46, 'Misinterpret'),
 (47, 'Reklamation'),
 (48, 'Sold out'),
 (49, 'Typo'),
 (50, 'total'),
 (51, 'kaya soria'),
 (52, 'Daily Special'),
 (53, 'judo'),
 (54, '<3'),
 (55, 'customes left without paying :((((('),
 (56, 'Personal 1/2 Preis'),
 (57, 'Emilay'),
 (58, 'staff'),
 (59, 'gift card'),
 (60, 'daeng'),
 (61, 'Flyer'),
 (62, 'Orderhub Discount'),
 (63, 'neighbors'),
 (64, 'alex'),
 (65, 'Staff & friends'),
 (66, 'kai'),
 (67, 'marie and friends'),
 (68, 'staff & friends'),
 (69, 'daengs son'),
 (70, 'marie and lfriends'),
 (71, 'kaira'),
 (72, 'neighboor'),
 (73, 'table left without paylong'),
 (74, 'kaiiiiii'),
 (75, 'judooooo'),
 (76, 'ikaan mami'),
 (77, 'emilaylay'),
 (78, 'kiks'),
 (79, 'neighbour discount'),
 (80, 'Einladung'),
 (81, 'em'),
 (82, 'friends'),
 (83, 'staff friends'),
 (84, 'marie and friend'),
 (85, 'nachbarn '),
 (86, 'friend of marie'),
 (87, 'bettina'),
 (88, 'emily'),
 (89, 'emily :)'),
 (90, 'daisy'),
 (91, 'meghan friend'),
 (92, 'cali'),
 (93, 'alex lunch!'),
 (94, 'nachbarnschaft'),
 (95, 'friend'),
 (96, 'ambi'),
 (97, 'Neighbour '),
 (98, 'L'),
 (99, 'Nachbarschafts discoutn'),
 (100, 'friends discoint '),
 (101, 'emilele'),
 (102, 'pals'),
 (103, 'ramby '),
 (104, 'em takeaway'),
 (105, 'friend friend friend'),
 (106, 'rambi'),
 (107, 'elise'),
 (108, 'ebra'),
 (109, 'neighbours'),
 (110, 'neighbour'),
 (111, 'Porky McPoo 04.05.2024'),
 (112, 'orla '),
 (113, 'friend meghan'),
 (114, 'ola and friend'),
 (115, 'ramby'),
 (116, 'bert'),
 (117, 'meg friends'),
 (118, 'yasya'),
 (119, 'last day'),
 (120, 'total'),
 (121, 'D 1'),
 (122, 'D 10'),
 (123, 'D 11'),
 (124, 'D 2'),
 (125, 'D 3'),
 (126, 'D 4'),
 (127, 'D 5'),
 (128, 'D 6'),
 (129, 'D 7'),
 (130, 'D 8'),
 (131, 'D 9'),
 (132, 'D12'),
 (133, 'D13'),
 (134, 'Online'),
 (135, 'Table 17'),
 (136, 'Tisch 1'),
 (137, 'Tisch 10'),
 (138, 'Tisch 11'),
 (139, 'Tisch 12'),
 (140, 'Tisch 13'),
 (141, 'Tisch 14'),
 (142, 'Tisch 15'),
 (143, 'Tisch 16'),
 (144, 'Tisch 2'),
 (145, 'Tisch 3'),
 (146, 'Tisch 4'),
 (147, 'Tisch 5'),
 (148, 'Tisch 6'),
 (149, 'Tisch 7'),
 (150, 'Tisch 8'),
 (151, 'Tisch 9'),
 (152, 'To Go')]

In [29]:
# Define mask for both rows to combine
cm_rbink = repo24_a['Item'].isin(['Kaylin I PIN 1234', 'Service 1 | PIN 1234'])

# Find the index of the first 'Kaylin I PIN 1234' to insert the combined row
fi_rbink = repo24_a[repo24_a['Item'] == 'Kaylin I PIN 1234'].index[0]

# Sum the numeric columns
sum_rbink = repo24_a.loc[cm_rbink, ['Count', 'Total', '%', 'Tip']].sum()

# Create the new summarized row
rbink = pd.DataFrame([{
    'Item': 'Revenue Breakdown: in-house Kasse',
    'Count': sum_rbink['Count'],
    'Total': sum_rbink['Total'],
    '%': sum_rbink['%'],
    'Tip': sum_rbink['Tip']
}])

# Remove original rows
repo24_a = repo24_a.loc[~cm_rbink].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_a.iloc[:fi_rbink]
bottom = repo24_a.iloc[fi_rbink:]
repo24_a = pd.concat([top, rbink, bottom], ignore_index=True)

list(repo24_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, '19.000%'),
 (5, '7.000%'),
 (6, 'total'),
 (7, '19.000%'),
 (8, '7.000%'),
 (9, 'total'),
 (10, '19.000%'),
 (11, '7.000%'),
 (12, 'total'),
 (13, 'Bar'),
 (14, 'Deliverect Zahlung'),
 (15, 'Kartenzahlung'),
 (16, 'Maestro'),
 (17, 'MasterCard'),
 (18, 'Mehrzweckgutschein einlösen'),
 (19, 'Uber eats Zahlung'),
 (20, 'Visa'),
 (21, 'Visa Electron'),
 (22, 'Wolt Zahlung'),
 (23, 'total'),
 (24, 'Bar - 7.00%'),
 (25, 'Bar - 19.00%'),
 (26, 'Kartenzahlung - 19.00%'),
 (27, 'Maestro - 7.00%'),
 (28, 'Maestro - 19.00%'),
 (29, 'MasterCard - 7.00%'),
 (30, 'MasterCard - 19.00%'),
 (31, 'Mehrzweckgutschein einlösen - 7.00%'),
 (32, 'Mehrzweckgutschein einlösen - 19.00%'),
 (33, 'Uber eats Zahlung - 7.00%'),
 (34, 'Visa - 7.00%'),
 (35, 'Visa - 19.00%'),
 (36, 'Visa Electron - 7.00%'),
 (37, 'Visa Electron - 19.00%'),
 (38, 'Wolt Zahlung - 7.00%'),
 (39, 'Deliverect'),
 (40, 'Revenue Breakdown: in-house Kasse'),
 (41, 'Uber eats'),
 (42, 'Wolt'),
 (43, 'total'),
 (44, 'Customer changed their mind'),
 (45, 'Misinterpret'),
 (46, 'Reklamation'),
 (47, 'Sold out'),
 (48, 'Typo'),
 (49, 'total'),
 (50, 'kaya soria'),
 (51, 'Daily Special'),
 (52, 'judo'),
 (53, '<3'),
 (54, 'customes left without paying :((((('),
 (55, 'Personal 1/2 Preis'),
 (56, 'Emilay'),
 (57, 'staff'),
 (58, 'gift card'),
 (59, 'daeng'),
 (60, 'Flyer'),
 (61, 'Orderhub Discount'),
 (62, 'neighbors'),
 (63, 'alex'),
 (64, 'Staff & friends'),
 (65, 'kai'),
 (66, 'marie and friends'),
 (67, 'staff & friends'),
 (68, 'daengs son'),
 (69, 'marie and lfriends'),
 (70, 'kaira'),
 (71, 'neighboor'),
 (72, 'table left without paylong'),
 (73, 'kaiiiiii'),
 (74, 'judooooo'),
 (75, 'ikaan mami'),
 (76, 'emilaylay'),
 (77, 'kiks'),
 (78, 'neighbour discount'),
 (79, 'Einladung'),
 (80, 'em'),
 (81, 'friends'),
 (82, 'staff friends'),
 (83, 'marie and friend'),
 (84, 'nachbarn '),
 (85, 'friend of marie'),
 (86, 'bettina'),
 (87, 'emily'),
 (88, 'emily :)'),
 (89, 'daisy'),
 (90, 'meghan friend'),
 (91, 'cali'),
 (92, 'alex lunch!'),
 (93, 'nachbarnschaft'),
 (94, 'friend'),
 (95, 'ambi'),
 (96, 'Neighbour '),
 (97, 'L'),
 (98, 'Nachbarschafts discoutn'),
 (99, 'friends discoint '),
 (100, 'emilele'),
 (101, 'pals'),
 (102, 'ramby '),
 (103, 'em takeaway'),
 (104, 'friend friend friend'),
 (105, 'rambi'),
 (106, 'elise'),
 (107, 'ebra'),
 (108, 'neighbours'),
 (109, 'neighbour'),
 (110, 'Porky McPoo 04.05.2024'),
 (111, 'orla '),
 (112, 'friend meghan'),
 (113, 'ola and friend'),
 (114, 'ramby'),
 (115, 'bert'),
 (116, 'meg friends'),
 (117, 'yasya'),
 (118, 'last day'),
 (119, 'total'),
 (120, 'D 1'),
 (121, 'D 10'),
 (122, 'D 11'),
 (123, 'D 2'),
 (124, 'D 3'),
 (125, 'D 4'),
 (126, 'D 5'),
 (127, 'D 6'),
 (128, 'D 7'),
 (129, 'D 8'),
 (130, 'D 9'),
 (131, 'D12'),
 (132, 'D13'),
 (133, 'Online'),
 (134, 'Table 17'),
 (135, 'Tisch 1'),
 (136, 'Tisch 10'),
 (137, 'Tisch 11'),
 (138, 'Tisch 12'),
 (139, 'Tisch 13'),
 (140, 'Tisch 14'),
 (141, 'Tisch 15'),
 (142, 'Tisch 16'),
 (143, 'Tisch 2'),
 (144, 'Tisch 3'),
 (145, 'Tisch 4'),
 (146, 'Tisch 5'),
 (147, 'Tisch 6'),
 (148, 'Tisch 7'),
 (149, 'Tisch 8'),
 (150, 'Tisch 9'),
 (151, 'To Go')]

In [30]:
# Define mask for both rows to combine
cm_dstaff = repo24_a['Item'].isin(['kaya soria', 'judo', 'Personal 1/2 Preis', 'Emilay', 'staff', 'daeng', 'alex', 'kai', 'kaira', 'kaiiiiii', 'judooooo', 'emilaylay', 'em', 'emily', 'emily :)', 'daisy', 'alex lunch!', 'ambi', 'emilele', 'ramby ', 'em takeaway', 'rambi', 'elise', 'orla ', 'ramby', 'bert', 'yasya'])

# Find the index of the first 'amber' to insert the combined row
fi_dstaff = repo24_a[repo24_a['Item'] == 'kaya soria'].index[0]

# Sum the numeric columns
sum_dstaff = repo24_a.loc[cm_dstaff, ['Count', 'Total', '%', 'Tip']].sum()

# Create the new summarized row
dstaff = pd.DataFrame([{
    'Item': 'Discount: Staff',
    'Count': sum_dstaff['Count'],
    'Total': sum_dstaff['Total'],
    '%': sum_dstaff['%'],
    'Tip': sum_dstaff['Tip']
}])

# Remove original rows
repo24_a = repo24_a.loc[~cm_dstaff].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_a.iloc[:fi_dstaff]
bottom = repo24_a.iloc[fi_dstaff:]
repo24_a = pd.concat([top, dstaff, bottom], ignore_index=True)

list(repo24_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, '19.000%'),
 (5, '7.000%'),
 (6, 'total'),
 (7, '19.000%'),
 (8, '7.000%'),
 (9, 'total'),
 (10, '19.000%'),
 (11, '7.000%'),
 (12, 'total'),
 (13, 'Bar'),
 (14, 'Deliverect Zahlung'),
 (15, 'Kartenzahlung'),
 (16, 'Maestro'),
 (17, 'MasterCard'),
 (18, 'Mehrzweckgutschein einlösen'),
 (19, 'Uber eats Zahlung'),
 (20, 'Visa'),
 (21, 'Visa Electron'),
 (22, 'Wolt Zahlung'),
 (23, 'total'),
 (24, 'Bar - 7.00%'),
 (25, 'Bar - 19.00%'),
 (26, 'Kartenzahlung - 19.00%'),
 (27, 'Maestro - 7.00%'),
 (28, 'Maestro - 19.00%'),
 (29, 'MasterCard - 7.00%'),
 (30, 'MasterCard - 19.00%'),
 (31, 'Mehrzweckgutschein einlösen - 7.00%'),
 (32, 'Mehrzweckgutschein einlösen - 19.00%'),
 (33, 'Uber eats Zahlung - 7.00%'),
 (34, 'Visa - 7.00%'),
 (35, 'Visa - 19.00%'),
 (36, 'Visa Electron - 7.00%'),
 (37, 'Visa Electron - 19.00%'),
 (38, 'Wolt Zahlung - 7.00%'),
 (39, 'Deliverect'),
 (40, 'Revenue Breakdown: in-house Kasse'),
 (41, 'Uber eats'),
 (42, 'Wolt'),
 (43, 'total'),
 (44, 'Customer changed their mind'),
 (45, 'Misinterpret'),
 (46, 'Reklamation'),
 (47, 'Sold out'),
 (48, 'Typo'),
 (49, 'total'),
 (50, 'Discount: Staff'),
 (51, 'Daily Special'),
 (52, '<3'),
 (53, 'customes left without paying :((((('),
 (54, 'gift card'),
 (55, 'Flyer'),
 (56, 'Orderhub Discount'),
 (57, 'neighbors'),
 (58, 'Staff & friends'),
 (59, 'marie and friends'),
 (60, 'staff & friends'),
 (61, 'daengs son'),
 (62, 'marie and lfriends'),
 (63, 'neighboor'),
 (64, 'table left without paylong'),
 (65, 'ikaan mami'),
 (66, 'kiks'),
 (67, 'neighbour discount'),
 (68, 'Einladung'),
 (69, 'friends'),
 (70, 'staff friends'),
 (71, 'marie and friend'),
 (72, 'nachbarn '),
 (73, 'friend of marie'),
 (74, 'bettina'),
 (75, 'meghan friend'),
 (76, 'cali'),
 (77, 'nachbarnschaft'),
 (78, 'friend'),
 (79, 'Neighbour '),
 (80, 'L'),
 (81, 'Nachbarschafts discoutn'),
 (82, 'friends discoint '),
 (83, 'pals'),
 (84, 'friend friend friend'),
 (85, 'ebra'),
 (86, 'neighbours'),
 (87, 'neighbour'),
 (88, 'Porky McPoo 04.05.2024'),
 (89, 'friend meghan'),
 (90, 'ola and friend'),
 (91, 'meg friends'),
 (92, 'last day'),
 (93, 'total'),
 (94, 'D 1'),
 (95, 'D 10'),
 (96, 'D 11'),
 (97, 'D 2'),
 (98, 'D 3'),
 (99, 'D 4'),
 (100, 'D 5'),
 (101, 'D 6'),
 (102, 'D 7'),
 (103, 'D 8'),
 (104, 'D 9'),
 (105, 'D12'),
 (106, 'D13'),
 (107, 'Online'),
 (108, 'Table 17'),
 (109, 'Tisch 1'),
 (110, 'Tisch 10'),
 (111, 'Tisch 11'),
 (112, 'Tisch 12'),
 (113, 'Tisch 13'),
 (114, 'Tisch 14'),
 (115, 'Tisch 15'),
 (116, 'Tisch 16'),
 (117, 'Tisch 2'),
 (118, 'Tisch 3'),
 (119, 'Tisch 4'),
 (120, 'Tisch 5'),
 (121, 'Tisch 6'),
 (122, 'Tisch 7'),
 (123, 'Tisch 8'),
 (124, 'Tisch 9'),
 (125, 'To Go')]

In [31]:
# Define mask for both rows to combine
cm_dff = repo24_a['Item'].isin(['<3', 'Staff & friends', 'marie and friends', 'staff & friends', 'daengs son', 'marie and lfriends', 'ikaan mami', 'kiks', 'friends', 'staff friends', 'marie and friend', 'friend of marie', 'meghan friend', 'cali', 'friend', 'L', 'friends discoint ', 'pals', 'friend friend friend', 'ebra', 'friend meghan', 'ola and friend', 'meg friends'])

# Find the index of the first 'amber' to insert the combined row
fi_dff = repo24_a[repo24_a['Item'] == '<3'].index[0]

# Sum the numeric columns
sum_dff = repo24_a.loc[cm_dff, ['Count', 'Total', '%', 'Tip']].sum()

# Create the new summarized row
dff = pd.DataFrame([{
    'Item': 'Discounts: Friends & Family',
    'Count': sum_dff['Count'],
    'Total': sum_dff['Total'],
    '%': sum_dff['%'],
    'Tip': sum_dff['Tip']
}])

# Remove original rows
repo24_a = repo24_a.loc[~cm_dff].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_a.iloc[:fi_dff]
bottom = repo24_a.iloc[fi_dff:]
repo24_a = pd.concat([top, dff, bottom], ignore_index=True)

list(repo24_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, '19.000%'),
 (5, '7.000%'),
 (6, 'total'),
 (7, '19.000%'),
 (8, '7.000%'),
 (9, 'total'),
 (10, '19.000%'),
 (11, '7.000%'),
 (12, 'total'),
 (13, 'Bar'),
 (14, 'Deliverect Zahlung'),
 (15, 'Kartenzahlung'),
 (16, 'Maestro'),
 (17, 'MasterCard'),
 (18, 'Mehrzweckgutschein einlösen'),
 (19, 'Uber eats Zahlung'),
 (20, 'Visa'),
 (21, 'Visa Electron'),
 (22, 'Wolt Zahlung'),
 (23, 'total'),
 (24, 'Bar - 7.00%'),
 (25, 'Bar - 19.00%'),
 (26, 'Kartenzahlung - 19.00%'),
 (27, 'Maestro - 7.00%'),
 (28, 'Maestro - 19.00%'),
 (29, 'MasterCard - 7.00%'),
 (30, 'MasterCard - 19.00%'),
 (31, 'Mehrzweckgutschein einlösen - 7.00%'),
 (32, 'Mehrzweckgutschein einlösen - 19.00%'),
 (33, 'Uber eats Zahlung - 7.00%'),
 (34, 'Visa - 7.00%'),
 (35, 'Visa - 19.00%'),
 (36, 'Visa Electron - 7.00%'),
 (37, 'Visa Electron - 19.00%'),
 (38, 'Wolt Zahlung - 7.00%'),
 (39, 'Deliverect'),
 (40, 'Revenue Breakdown: in-house Kasse'),
 (41, 'Uber eats'),
 (42, 'Wolt'),
 (43, 'total'),
 (44, 'Customer changed their mind'),
 (45, 'Misinterpret'),
 (46, 'Reklamation'),
 (47, 'Sold out'),
 (48, 'Typo'),
 (49, 'total'),
 (50, 'Discount: Staff'),
 (51, 'Daily Special'),
 (52, 'Discounts: Friends & Family'),
 (53, 'customes left without paying :((((('),
 (54, 'gift card'),
 (55, 'Flyer'),
 (56, 'Orderhub Discount'),
 (57, 'neighbors'),
 (58, 'neighboor'),
 (59, 'table left without paylong'),
 (60, 'neighbour discount'),
 (61, 'Einladung'),
 (62, 'nachbarn '),
 (63, 'bettina'),
 (64, 'nachbarnschaft'),
 (65, 'Neighbour '),
 (66, 'Nachbarschafts discoutn'),
 (67, 'neighbours'),
 (68, 'neighbour'),
 (69, 'Porky McPoo 04.05.2024'),
 (70, 'last day'),
 (71, 'total'),
 (72, 'D 1'),
 (73, 'D 10'),
 (74, 'D 11'),
 (75, 'D 2'),
 (76, 'D 3'),
 (77, 'D 4'),
 (78, 'D 5'),
 (79, 'D 6'),
 (80, 'D 7'),
 (81, 'D 8'),
 (82, 'D 9'),
 (83, 'D12'),
 (84, 'D13'),
 (85, 'Online'),
 (86, 'Table 17'),
 (87, 'Tisch 1'),
 (88, 'Tisch 10'),
 (89, 'Tisch 11'),
 (90, 'Tisch 12'),
 (91, 'Tisch 13'),
 (92, 'Tisch 14'),
 (93, 'Tisch 15'),
 (94, 'Tisch 16'),
 (95, 'Tisch 2'),
 (96, 'Tisch 3'),
 (97, 'Tisch 4'),
 (98, 'Tisch 5'),
 (99, 'Tisch 6'),
 (100, 'Tisch 7'),
 (101, 'Tisch 8'),
 (102, 'Tisch 9'),
 (103, 'To Go')]

In [32]:
# Define mask for both rows to combine
cm_dneigh = repo24_a['Item'].isin(['neighbors', 'neighboor', 'neighbour discount', 'nachbarn ', 'bettina', 'nachbarnschaft', 'Neighbour ', 'Nachbarschafts discoutn', 'neighbours', 'neighbour'])

# Find the index of the first 'amber' to insert the combined row
fi_dneigh = repo24_a[repo24_a['Item'] == 'neighbors'].index[0]

# Sum the numeric columns
sum_dneigh = repo24_a.loc[cm_dneigh, ['Count', 'Total', '%', 'Tip']].sum()

# Create the new summarized row
dneigh = pd.DataFrame([{
    'Item': 'Discount: Neighbours',
    'Count': sum_dneigh['Count'],
    'Total': sum_dneigh['Total'],
    '%': sum_dneigh['%'],
    'Tip': sum_dneigh['Tip']
}])

# Remove original rows
repo24_a = repo24_a.loc[~cm_dneigh].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_a.iloc[:fi_dneigh]
bottom = repo24_a.iloc[fi_dneigh:]
repo24_a = pd.concat([top, dneigh, bottom], ignore_index=True)

list(repo24_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, '19.000%'),
 (5, '7.000%'),
 (6, 'total'),
 (7, '19.000%'),
 (8, '7.000%'),
 (9, 'total'),
 (10, '19.000%'),
 (11, '7.000%'),
 (12, 'total'),
 (13, 'Bar'),
 (14, 'Deliverect Zahlung'),
 (15, 'Kartenzahlung'),
 (16, 'Maestro'),
 (17, 'MasterCard'),
 (18, 'Mehrzweckgutschein einlösen'),
 (19, 'Uber eats Zahlung'),
 (20, 'Visa'),
 (21, 'Visa Electron'),
 (22, 'Wolt Zahlung'),
 (23, 'total'),
 (24, 'Bar - 7.00%'),
 (25, 'Bar - 19.00%'),
 (26, 'Kartenzahlung - 19.00%'),
 (27, 'Maestro - 7.00%'),
 (28, 'Maestro - 19.00%'),
 (29, 'MasterCard - 7.00%'),
 (30, 'MasterCard - 19.00%'),
 (31, 'Mehrzweckgutschein einlösen - 7.00%'),
 (32, 'Mehrzweckgutschein einlösen - 19.00%'),
 (33, 'Uber eats Zahlung - 7.00%'),
 (34, 'Visa - 7.00%'),
 (35, 'Visa - 19.00%'),
 (36, 'Visa Electron - 7.00%'),
 (37, 'Visa Electron - 19.00%'),
 (38, 'Wolt Zahlung - 7.00%'),
 (39, 'Deliverect'),
 (40, 'Revenue Breakdown: in-house Kasse'),
 (41, 'Uber eats'),
 (42, 'Wolt'),
 (43, 'total'),
 (44, 'Customer changed their mind'),
 (45, 'Misinterpret'),
 (46, 'Reklamation'),
 (47, 'Sold out'),
 (48, 'Typo'),
 (49, 'total'),
 (50, 'Discount: Staff'),
 (51, 'Daily Special'),
 (52, 'Discounts: Friends & Family'),
 (53, 'customes left without paying :((((('),
 (54, 'gift card'),
 (55, 'Flyer'),
 (56, 'Orderhub Discount'),
 (57, 'Discount: Neighbours'),
 (58, 'table left without paylong'),
 (59, 'Einladung'),
 (60, 'Porky McPoo 04.05.2024'),
 (61, 'last day'),
 (62, 'total'),
 (63, 'D 1'),
 (64, 'D 10'),
 (65, 'D 11'),
 (66, 'D 2'),
 (67, 'D 3'),
 (68, 'D 4'),
 (69, 'D 5'),
 (70, 'D 6'),
 (71, 'D 7'),
 (72, 'D 8'),
 (73, 'D 9'),
 (74, 'D12'),
 (75, 'D13'),
 (76, 'Online'),
 (77, 'Table 17'),
 (78, 'Tisch 1'),
 (79, 'Tisch 10'),
 (80, 'Tisch 11'),
 (81, 'Tisch 12'),
 (82, 'Tisch 13'),
 (83, 'Tisch 14'),
 (84, 'Tisch 15'),
 (85, 'Tisch 16'),
 (86, 'Tisch 2'),
 (87, 'Tisch 3'),
 (88, 'Tisch 4'),
 (89, 'Tisch 5'),
 (90, 'Tisch 6'),
 (91, 'Tisch 7'),
 (92, 'Tisch 8'),
 (93, 'Tisch 9'),
 (94, 'To Go')]

In [33]:
# Define mask for both rows to combine
cm_dvou = repo24_a['Item'].isin(['gift card', 'Flyer', 'Einladung'])

# Find the index of the first 'amber' to insert the combined row
fi_dvou = repo24_a[repo24_a['Item'] == 'gift card'].index[0]

# Sum the numeric columns
sum_dvou = repo24_a.loc[cm_dvou, ['Count', 'Total', '%', 'Tip']].sum()

# Create the new summarized row
dvou = pd.DataFrame([{
    'Item': 'Discount: Vouchers & Invites',
    'Count': sum_dvou['Count'],
    'Total': sum_dvou['Total'],
    '%': sum_dvou['%'],
    'Tip': sum_dvou['Tip']
}])

# Remove original rows
repo24_a = repo24_a.loc[~cm_dvou].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_a.iloc[:fi_dvou]
bottom = repo24_a.iloc[fi_dvou:]
repo24_a = pd.concat([top, dvou, bottom], ignore_index=True)

list(repo24_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, '19.000%'),
 (5, '7.000%'),
 (6, 'total'),
 (7, '19.000%'),
 (8, '7.000%'),
 (9, 'total'),
 (10, '19.000%'),
 (11, '7.000%'),
 (12, 'total'),
 (13, 'Bar'),
 (14, 'Deliverect Zahlung'),
 (15, 'Kartenzahlung'),
 (16, 'Maestro'),
 (17, 'MasterCard'),
 (18, 'Mehrzweckgutschein einlösen'),
 (19, 'Uber eats Zahlung'),
 (20, 'Visa'),
 (21, 'Visa Electron'),
 (22, 'Wolt Zahlung'),
 (23, 'total'),
 (24, 'Bar - 7.00%'),
 (25, 'Bar - 19.00%'),
 (26, 'Kartenzahlung - 19.00%'),
 (27, 'Maestro - 7.00%'),
 (28, 'Maestro - 19.00%'),
 (29, 'MasterCard - 7.00%'),
 (30, 'MasterCard - 19.00%'),
 (31, 'Mehrzweckgutschein einlösen - 7.00%'),
 (32, 'Mehrzweckgutschein einlösen - 19.00%'),
 (33, 'Uber eats Zahlung - 7.00%'),
 (34, 'Visa - 7.00%'),
 (35, 'Visa - 19.00%'),
 (36, 'Visa Electron - 7.00%'),
 (37, 'Visa Electron - 19.00%'),
 (38, 'Wolt Zahlung - 7.00%'),
 (39, 'Deliverect'),
 (40, 'Revenue Breakdown: in-house Kasse'),
 (41, 'Uber eats'),
 (42, 'Wolt'),
 (43, 'total'),
 (44, 'Customer changed their mind'),
 (45, 'Misinterpret'),
 (46, 'Reklamation'),
 (47, 'Sold out'),
 (48, 'Typo'),
 (49, 'total'),
 (50, 'Discount: Staff'),
 (51, 'Daily Special'),
 (52, 'Discounts: Friends & Family'),
 (53, 'customes left without paying :((((('),
 (54, 'Discount: Vouchers & Invites'),
 (55, 'Orderhub Discount'),
 (56, 'Discount: Neighbours'),
 (57, 'table left without paylong'),
 (58, 'Porky McPoo 04.05.2024'),
 (59, 'last day'),
 (60, 'total'),
 (61, 'D 1'),
 (62, 'D 10'),
 (63, 'D 11'),
 (64, 'D 2'),
 (65, 'D 3'),
 (66, 'D 4'),
 (67, 'D 5'),
 (68, 'D 6'),
 (69, 'D 7'),
 (70, 'D 8'),
 (71, 'D 9'),
 (72, 'D12'),
 (73, 'D13'),
 (74, 'Online'),
 (75, 'Table 17'),
 (76, 'Tisch 1'),
 (77, 'Tisch 10'),
 (78, 'Tisch 11'),
 (79, 'Tisch 12'),
 (80, 'Tisch 13'),
 (81, 'Tisch 14'),
 (82, 'Tisch 15'),
 (83, 'Tisch 16'),
 (84, 'Tisch 2'),
 (85, 'Tisch 3'),
 (86, 'Tisch 4'),
 (87, 'Tisch 5'),
 (88, 'Tisch 6'),
 (89, 'Tisch 7'),
 (90, 'Tisch 8'),
 (91, 'Tisch 9'),
 (92, 'To Go')]

In [34]:
# Define mask for both rows to combine
cm_sinpa = repo24_a['Item'].isin(['customes left without paying :(((((', 'table left without paylong'])

# Find the index of the first 'amber' to insert the combined row
fi_sinpa = repo24_a[repo24_a['Item'] == 'customes left without paying :((((('].index[0]

# Sum the numeric columns
sum_sinpa = repo24_a.loc[cm_sinpa, ['Count', 'Total', '%', 'Tip']].sum()

# Create the new summarized row
sinpa = pd.DataFrame([{
    'Item': 'Discount: Costumer No-Pay',
    'Count': sum_sinpa['Count'],
    'Total': sum_sinpa['Total'],
    '%': sum_sinpa['%'],
    'Tip': sum_sinpa['Tip']
}])

# Remove original rows
repo24_a = repo24_a.loc[~cm_sinpa].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_a.iloc[:fi_sinpa]
bottom = repo24_a.iloc[fi_sinpa:]
repo24_a = pd.concat([top, sinpa, bottom], ignore_index=True)

list(repo24_a['Item'].items())

[(0, 'Total'),
 (1, 'Expenses'),
 (2, 'Service charges'),
 (3, 'Tip'),
 (4, '19.000%'),
 (5, '7.000%'),
 (6, 'total'),
 (7, '19.000%'),
 (8, '7.000%'),
 (9, 'total'),
 (10, '19.000%'),
 (11, '7.000%'),
 (12, 'total'),
 (13, 'Bar'),
 (14, 'Deliverect Zahlung'),
 (15, 'Kartenzahlung'),
 (16, 'Maestro'),
 (17, 'MasterCard'),
 (18, 'Mehrzweckgutschein einlösen'),
 (19, 'Uber eats Zahlung'),
 (20, 'Visa'),
 (21, 'Visa Electron'),
 (22, 'Wolt Zahlung'),
 (23, 'total'),
 (24, 'Bar - 7.00%'),
 (25, 'Bar - 19.00%'),
 (26, 'Kartenzahlung - 19.00%'),
 (27, 'Maestro - 7.00%'),
 (28, 'Maestro - 19.00%'),
 (29, 'MasterCard - 7.00%'),
 (30, 'MasterCard - 19.00%'),
 (31, 'Mehrzweckgutschein einlösen - 7.00%'),
 (32, 'Mehrzweckgutschein einlösen - 19.00%'),
 (33, 'Uber eats Zahlung - 7.00%'),
 (34, 'Visa - 7.00%'),
 (35, 'Visa - 19.00%'),
 (36, 'Visa Electron - 7.00%'),
 (37, 'Visa Electron - 19.00%'),
 (38, 'Wolt Zahlung - 7.00%'),
 (39, 'Deliverect'),
 (40, 'Revenue Breakdown: in-house Kasse'),
 (41, 'Uber eats'),
 (42, 'Wolt'),
 (43, 'total'),
 (44, 'Customer changed their mind'),
 (45, 'Misinterpret'),
 (46, 'Reklamation'),
 (47, 'Sold out'),
 (48, 'Typo'),
 (49, 'total'),
 (50, 'Discount: Staff'),
 (51, 'Daily Special'),
 (52, 'Discounts: Friends & Family'),
 (53, 'Discount: Costumer No-Pay'),
 (54, 'Discount: Vouchers & Invites'),
 (55, 'Orderhub Discount'),
 (56, 'Discount: Neighbours'),
 (57, 'Porky McPoo 04.05.2024'),
 (58, 'last day'),
 (59, 'total'),
 (60, 'D 1'),
 (61, 'D 10'),
 (62, 'D 11'),
 (63, 'D 2'),
 (64, 'D 3'),
 (65, 'D 4'),
 (66, 'D 5'),
 (67, 'D 6'),
 (68, 'D 7'),
 (69, 'D 8'),
 (70, 'D 9'),
 (71, 'D12'),
 (72, 'D13'),
 (73, 'Online'),
 (74, 'Table 17'),
 (75, 'Tisch 1'),
 (76, 'Tisch 10'),
 (77, 'Tisch 11'),
 (78, 'Tisch 12'),
 (79, 'Tisch 13'),
 (80, 'Tisch 14'),
 (81, 'Tisch 15'),
 (82, 'Tisch 16'),
 (83, 'Tisch 2'),
 (84, 'Tisch 3'),
 (85, 'Tisch 4'),
 (86, 'Tisch 5'),
 (87, 'Tisch 6'),
 (88, 'Tisch 7'),
 (89, 'Tisch 8'),
 (90, 'Tisch 9'),
 (91, 'To Go')]

In [35]:
repo24_a.loc[0, 'Item'] = 'Turnover: total'
repo24_a.loc[1, 'Item'] = 'Turnover: expenses'
repo24_a.loc[2, 'Item'] = 'Turnover: service charges'
repo24_a.loc[3, 'Item'] = 'Turnover: tip'

repo24_a.loc[4, 'Item'] = 'Gross Turnover: 19%'
repo24_a.loc[5, 'Item'] = 'Gross Turnover: 7%'
repo24_a.loc[6, 'Item'] = 'Gross Turnover: total'

repo24_a.loc[7, 'Item'] = 'Net Turnover: 19%'
repo24_a.loc[8, 'Item'] = 'Net Turnover: 7%'
repo24_a.loc[9, 'Item'] = 'Net Turnover: total'

repo24_a.loc[10, 'Item'] = 'Taxes: 19%'
repo24_a.loc[11, 'Item'] = 'Taxes: 7%'
repo24_a.loc[12, 'Item'] = 'Taxes: total'

repo24_a.loc[13, 'Item'] = 'Payment Type: Bar'
repo24_a.loc[14, 'Item'] = 'Payment Type: Deliverect Zahlung'
repo24_a.loc[15, 'Item'] = 'Payment Type: Kartenzahlung'
repo24_a.loc[16, 'Item'] = 'Payment Type: Maestro'
repo24_a.loc[17, 'Item'] = 'Payment Type: MasterCard'
repo24_a.loc[18, 'Item'] = 'Payment Type: Mehrzweckgutschein einlösen'
repo24_a.loc[19, 'Item'] = 'Payment Type: Uber eats Zahlung'
repo24_a.loc[20, 'Item'] = 'Payment Type: Visa'
repo24_a.loc[21, 'Item'] = 'Payment Type: Visa Electron'
repo24_a.loc[22, 'Item'] = 'Payment Type: Wolt Zahlung'
repo24_a.loc[23, 'Item'] = 'Payment Type: total'

repo24_a.loc[24, 'Item'] = 'Taxes Payment Type: Bar 7%'
repo24_a.loc[25, 'Item'] = 'Taxes Payment Type: Bar 19%'
repo24_a.loc[26, 'Item'] = 'Taxes Payment Type: Kartenzahlung 19%'
repo24_a.loc[27, 'Item'] = 'Taxes Payment Type: Maestro 7%'
repo24_a.loc[28, 'Item'] = 'Taxes Payment Type: Maestro 19%'
repo24_a.loc[29, 'Item'] = 'Taxes Payment Type: MasterCard 7%'
repo24_a.loc[30, 'Item'] = 'Taxes Payment Type: MasterCard 19%'
repo24_a.loc[31, 'Item'] = 'Taxes Payment Type: Mehrzweckgutschein einlösen 7%'
repo24_a.loc[32, 'Item'] = 'Taxes Payment Type: Mehrzweckgutschein einlösen 19%'
repo24_a.loc[33, 'Item'] = 'Taxes Payment Type: Uber eats Zahlung 7%'
repo24_a.loc[34, 'Item'] = 'Taxes Payment Type: Visa 7%'
repo24_a.loc[35, 'Item'] = 'Taxes Payment Type: Visa 19%'
repo24_a.loc[36, 'Item'] = 'Taxes Payment Type: Visa Electron 7%'
repo24_a.loc[37, 'Item'] = 'Taxes Payment Type: Visa Electron 19%'
repo24_a.loc[38, 'Item'] = 'Payment Type: Wolt Zahlung 7%'

repo24_a.loc[39, 'Item'] = 'Revenue Breakdown: Deliverect'
repo24_a.loc[40, 'Item'] = 'Revenue Breakdown: in-house Kasse'
repo24_a.loc[41, 'Item'] = 'Revenue Breakdown: Uber eats'
repo24_a.loc[42, 'Item'] = 'Revenue Breakdown: Wolt'
repo24_a.loc[43, 'Item'] = 'Revenue Breakdown: total'

repo24_a.loc[44, 'Item'] = 'Cancellations: customer changed their mind'
repo24_a.loc[45, 'Item'] = 'Cancellations: misinterpret'
repo24_a.loc[46, 'Item'] = 'Cancellations: Reklamation'
repo24_a.loc[47, 'Item'] = 'Cancellations: sold out'
repo24_a.loc[48, 'Item'] = 'Cancellations: typo'
repo24_a.loc[49, 'Item'] = 'Cancellations: total'

repo24_a.loc[51, 'Item'] = 'Discount: Daily Special'
repo24_a.loc[55, 'Item'] = 'Discount: Orderhub Discount'
repo24_a.loc[57, 'Item'] = 'Discounts: Porky McPoo 04.05.2024'
repo24_a.loc[58, 'Item'] = 'Discounts: last day'
repo24_a.loc[59, 'Item'] = 'Discounts: total'

repo24_a.loc[60, 'Item'] = 'Table: D1'
repo24_a.loc[61, 'Item'] = 'Table: D10'
repo24_a.loc[62, 'Item'] = 'Table: D11'
repo24_a.loc[63, 'Item'] = 'Table: D2'
repo24_a.loc[64, 'Item'] = 'Table: D3'
repo24_a.loc[65, 'Item'] = 'Table: D4'
repo24_a.loc[66, 'Item'] = 'Table: D5'
repo24_a.loc[67, 'Item'] = 'Table: D6'
repo24_a.loc[68, 'Item'] = 'Table: D7'
repo24_a.loc[69, 'Item'] = 'Table: D8'
repo24_a.loc[70, 'Item'] = 'Table: D9'
repo24_a.loc[71, 'Item'] = 'Table: D12'
repo24_a.loc[72, 'Item'] = 'Table: D13'
repo24_a.loc[73, 'Item'] = 'Table: online'
repo24_a.loc[74, 'Item'] = 'Table: 17'
repo24_a.loc[75, 'Item'] = 'Table: 1'
repo24_a.loc[76, 'Item'] = 'Table: 10'
repo24_a.loc[77, 'Item'] = 'Table: 11'
repo24_a.loc[78, 'Item'] = 'Table: 12'
repo24_a.loc[79, 'Item'] = 'Table: 13'
repo24_a.loc[80, 'Item'] = 'Table: 14'
repo24_a.loc[81, 'Item'] = 'Table: 15'
repo24_a.loc[82, 'Item'] = 'Table: 16'
repo24_a.loc[83, 'Item'] = 'Table: 2'
repo24_a.loc[84, 'Item'] = 'Table: 3'
repo24_a.loc[85, 'Item'] = 'Table: 4'
repo24_a.loc[86, 'Item'] = 'Table: 5'
repo24_a.loc[87, 'Item'] = 'Table: 6'
repo24_a.loc[88, 'Item'] = 'Table: 7'
repo24_a.loc[89, 'Item'] = 'Table: 8'
repo24_a.loc[90, 'Item'] = 'Table: 9'
repo24_a.loc[91, 'Item'] = 'Table: to go'


list(repo24_a['Item'].items())

repo24_a

                         Item  Count      Total        %  Tip
0             Turnover: total    NaN  490077.96  93.01 %  NaN
1          Turnover: expenses    NaN       0.00   0.00 %  NaN
2   Turnover: service charges    NaN       0.00   0.00 %  NaN
3               Turnover: tip    NaN   36849.71   6.99 %  NaN
4         Gross Turnover: 19%    NaN  421041.64  85.91 %  NaN
..                        ...    ...        ...      ...  ...
87                   Table: 6  830.0   33945.03   6.93 %  NaN
88                   Table: 7  694.0   25452.34   5.19 %  NaN
89                   Table: 8  566.0   22165.94   4.52 %  NaN
90                   Table: 9  418.0   15410.20   3.14 %  NaN
91               Table: to go   27.0     731.10   0.15 %  NaN

[92 rows x 5 columns]

In [36]:
# transform 'Total' and 'Tip' columns into numeric Euro values

euro_a = ['Total', 'Tip']

for col in euro_a:
    repo24_a[col] = pd.to_numeric(repo24_a[col], errors='coerce')
    repo24_a[col] = repo24_a[col].apply(lambda x: f"€{x:,.2f}" if pd.notnull(x) else '')

repo24_a

                         Item  Count        Total        % Tip
0             Turnover: total    NaN  €490,077.96  93.01 %
1          Turnover: expenses    NaN        €0.00   0.00 %
2   Turnover: service charges    NaN        €0.00   0.00 %
3               Turnover: tip    NaN   €36,849.71   6.99 %
4         Gross Turnover: 19%    NaN  €421,041.64  85.91 %
..                        ...    ...          ...      ...  ..
87                   Table: 6  830.0   €33,945.03   6.93 %
88                   Table: 7  694.0   €25,452.34   5.19 %
89                   Table: 8  566.0   €22,165.94   4.52 %
90                   Table: 9  418.0   €15,410.20   3.14 %
91               Table: to go   27.0      €731.10   0.15 %

[92 rows x 5 columns]

In [37]:
# check df (again)

print(repo24_a.head())
print(repo24_a.columns)
print(repo24_a.info())

                        Item  Count        Total        % Tip
0            Turnover: total    NaN  €490,077.96  93.01 %
1         Turnover: expenses    NaN        €0.00   0.00 %
2  Turnover: service charges    NaN        €0.00   0.00 %
3              Turnover: tip    NaN   €36,849.71   6.99 %
4        Gross Turnover: 19%    NaN  €421,041.64  85.91 %
Index(['Item', 'Count', 'Total', '%', 'Tip'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Item    92 non-null     object
 1   Count   60 non-null     float64
 2   Total   92 non-null     object
 3   %       92 non-null     object
 4   Tip     92 non-null     object
dtypes: float64(1), object(4)
memory usage: 3.7+ KB
None

In [38]:
# add 'Year' column

repo24_a['Year'] = '2024'
repo24_a

                         Item  Count        Total        % Tip  Year
0             Turnover: total    NaN  €490,077.96  93.01 %      2024
1          Turnover: expenses    NaN        €0.00   0.00 %      2024
2   Turnover: service charges    NaN        €0.00   0.00 %      2024
3               Turnover: tip    NaN   €36,849.71   6.99 %      2024
4         Gross Turnover: 19%    NaN  €421,041.64  85.91 %      2024
..                        ...    ...          ...      ...  ..   ...
87                   Table: 6  830.0   €33,945.03   6.93 %      2024
88                   Table: 7  694.0   €25,452.34   5.19 %      2024
89                   Table: 8  566.0   €22,165.94   4.52 %      2024
90                   Table: 9  418.0   €15,410.20   3.14 %      2024
91               Table: to go   27.0      €731.10   0.15 %      2024

[92 rows x 6 columns]

In [39]:
# export cleanead df to csv

repo24_a.to_csv('../data_files/repo24_a.csv', index=False)

# Report 2024: b

In [40]:
# df guests

repo24_b = pd.read_csv('../data_files/report-year-2024-112439.csv', sep=';', skiprows=178, nrows=2)
repo24_b

   Guests  Unnamed: 1    Total  Turnover per guest  Unnamed: 4
0     NaN         NaN  20879.0               19.13         NaN
1     NaN         NaN      NaN                 NaN         NaN

In [41]:
# check df

print(repo24_b.head())
print(repo24_b.columns)
print(repo24_b.info())

   Guests  Unnamed: 1    Total  Turnover per guest  Unnamed: 4
0     NaN         NaN  20879.0               19.13         NaN
1     NaN         NaN      NaN                 NaN         NaN
Index(['Guests', 'Unnamed: 1', 'Total', 'Turnover per guest', 'Unnamed: 4'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Guests              0 non-null      float64
 1   Unnamed: 1          0 non-null      float64
 2   Total               1 non-null      float64
 3   Turnover per guest  1 non-null      float64
 4   Unnamed: 4          0 non-null      float64
dtypes: float64(5)
memory usage: 212.0 bytes
None

In [42]:
# drop coluumns with only NaN

repo24_b = repo24_b.drop(columns=['Unnamed: 1', 'Unnamed: 4'])
repo24_b

   Guests    Total  Turnover per guest
0     NaN  20879.0               19.13
1     NaN      NaN                 NaN

In [43]:
# fix column names

repo24_b.columns = ['Item', 'Guest: Total', 'Guest: Turnover per guest']
repo24_b

   Item  Guest: Total  Guest: Turnover per guest
0   NaN       20879.0                      19.13
1   NaN           NaN                        NaN

In [44]:
# drop rows with all NaN

repo24_b = repo24_b.dropna(how='all')
repo24_b

   Item  Guest: Total  Guest: Turnover per guest
0   NaN       20879.0                      19.13

In [45]:
# NaN value in 'Item' fixed to 'Guests'

repo24_b.loc[0, 'Item'] = 'Guests'
repo24_b

/var/folders/yr/gmmc3xcx5xg406qfnj2bnx340000gn/T/ipykernel_12229/2407161477.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Guests' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  repo24_b.loc[0, 'Item'] = 'Guests'

     Item  Guest: Total  Guest: Turnover per guest
0  Guests       20879.0                      19.13

In [46]:
# add 'Year' column

repo24_b['Year'] = '2024'
repo24_b

/var/folders/yr/gmmc3xcx5xg406qfnj2bnx340000gn/T/ipykernel_12229/110943972.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  repo24_b['Year'] = '2024'

     Item  Guest: Total  Guest: Turnover per guest  Year
0  Guests       20879.0                      19.13  2024

In [47]:
# export cleanead df to csv

repo24_b.to_csv('../data_files/repo24_b.csv', index=False)

# Report 2024: c

In [48]:
# df main categories, categories, products

repo24_c = pd.read_csv('../data_files/report-year-2024-112439.csv', sep=';', skiprows=181, nrows=152)
repo24_c

,Main Categories,total,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,in-house,Unnamed: 7,Unnamed: 8,take-away,Unnamed: 10
0,Food,NaN,38095.0,390708.66,79.90 %,NaN,31987,330904.71,NaN,6108,59803.95
1,Beverages,NaN,20905.0,94512.50,19.33 %,NaN,20050,90790.10,NaN,855,3722.40
2,Other,NaN,180.0,3768.00,0.77 %,NaN,121,2611.60,NaN,59,1156.40
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Categories,total,NaN,NaN,NaN,NaN,in-house,NaN,NaN,take-away,NaN
...,...,...,...,...,...,...,...,...,...,...,...
147,Sparkling Water,0,1220.0,0.00,0.00 %,NaN,1196,0.00,NaN,24,0.00
148,Youtiao ohne Kondensmilch,0,28.0,0.00,0.00 %,NaN,27,0.00,NaN,1,0.00
149,Extra Eggs,0,58.0,0.00,0.00 %,NaN,56,0.00,NaN,2,0.00
150,Chopsticks,0,19.0,0.00,0.00 %,NaN,19,0.00,NaN,0,0.00
151,Silver,0,40.0,0.00,0.00 %,NaN,40,0.00,NaN,0,0.00

In [49]:
# check df

print(repo24_c.head())
print(repo24_c.columns)
print(repo24_c.info())

  Main Categories  total  Unnamed: 2  Unnamed: 3 Unnamed: 4  Unnamed: 5  \
0            Food    NaN     38095.0   390708.66    79.90 %         NaN
1       Beverages    NaN     20905.0    94512.50    19.33 %         NaN
2           Other    NaN       180.0     3768.00     0.77 %         NaN
3             NaN    NaN         NaN         NaN        NaN         NaN
4      Categories  total         NaN         NaN        NaN         NaN

   in-house  Unnamed: 7  Unnamed: 8  take-away  Unnamed: 10
0     31987   330904.71         NaN       6108     59803.95
1     20050    90790.10         NaN        855      3722.40
2       121     2611.60         NaN         59      1156.40
3       NaN         NaN         NaN        NaN          NaN
4  in-house         NaN         NaN  take-away          NaN
Index(['Main Categories', 'total', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'in-house', 'Unnamed: 7', 'Unnamed: 8', 'take-away',
       'Unnamed: 10'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Main Categories  150 non-null    object
 1   total            132 non-null    object
 2   Unnamed: 2       148 non-null    float64
 3   Unnamed: 3       148 non-null    float64
 4   Unnamed: 4       148 non-null    object
 5   Unnamed: 5       0 non-null      float64
 6   in-house         150 non-null    object
 7   Unnamed: 7       148 non-null    float64
 8   Unnamed: 8       0 non-null      float64
 9   take-away        150 non-null    object
 10  Unnamed: 10      148 non-null    float64
dtypes: float64(6), object(5)
memory usage: 13.2+ KB
None

In [50]:
# drop coluumns with only NaN

repo24_c = repo24_c.drop(columns=['total', 'Unnamed: 5', 'Unnamed: 8'])
repo24_c

,Main Categories,Unnamed: 2,Unnamed: 3,Unnamed: 4,in-house,Unnamed: 7,take-away,Unnamed: 10
0,Food,38095.0,390708.66,79.90 %,31987,330904.71,6108,59803.95
1,Beverages,20905.0,94512.50,19.33 %,20050,90790.10,855,3722.40
2,Other,180.0,3768.00,0.77 %,121,2611.60,59,1156.40
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Categories,NaN,NaN,NaN,in-house,NaN,take-away,NaN
...,...,...,...,...,...,...,...,...
147,Sparkling Water,1220.0,0.00,0.00 %,1196,0.00,24,0.00
148,Youtiao ohne Kondensmilch,28.0,0.00,0.00 %,27,0.00,1,0.00
149,Extra Eggs,58.0,0.00,0.00 %,56,0.00,2,0.00
150,Chopsticks,19.0,0.00,0.00 %,19,0.00,0,0.00
151,Silver,40.0,0.00,0.00 %,40,0.00,0,0.00

In [51]:
# fix column names

repo24_c.columns = ['Item', 'General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']
repo24_c

,Item,General: Count,General: Total,General: %,In-house: Count,In-house: Total,Take-away: Count,Take-away: Total
0,Food,38095.0,390708.66,79.90 %,31987,330904.71,6108,59803.95
1,Beverages,20905.0,94512.50,19.33 %,20050,90790.10,855,3722.40
2,Other,180.0,3768.00,0.77 %,121,2611.60,59,1156.40
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Categories,NaN,NaN,NaN,in-house,NaN,take-away,NaN
...,...,...,...,...,...,...,...,...
147,Sparkling Water,1220.0,0.00,0.00 %,1196,0.00,24,0.00
148,Youtiao ohne Kondensmilch,28.0,0.00,0.00 %,27,0.00,1,0.00
149,Extra Eggs,58.0,0.00,0.00 %,56,0.00,2,0.00
150,Chopsticks,19.0,0.00,0.00 %,19,0.00,0,0.00
151,Silver,40.0,0.00,0.00 %,40,0.00,0,0.00

In [52]:
# drop rows where all values are NaN

repo24_c = repo24_c.dropna(how='all')
repo24_c

,Item,General: Count,General: Total,General: %,In-house: Count,In-house: Total,Take-away: Count,Take-away: Total
0,Food,38095.0,390708.66,79.90 %,31987,330904.71,6108,59803.95
1,Beverages,20905.0,94512.50,19.33 %,20050,90790.10,855,3722.40
2,Other,180.0,3768.00,0.77 %,121,2611.60,59,1156.40
4,Categories,NaN,NaN,NaN,in-house,NaN,take-away,NaN
5,Mains,18688.0,281271.06,57.52 %,16149,241621.88,2539,39649.18
...,...,...,...,...,...,...,...,...
147,Sparkling Water,1220.0,0.00,0.00 %,1196,0.00,24,0.00
148,Youtiao ohne Kondensmilch,28.0,0.00,0.00 %,27,0.00,1,0.00
149,Extra Eggs,58.0,0.00,0.00 %,56,0.00,2,0.00
150,Chopsticks,19.0,0.00,0.00 %,19,0.00,0,0.00
151,Silver,40.0,0.00,0.00 %,40,0.00,0,0.00

In [53]:
# check values on 'Item' column

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Beverages'),
 (2, 'Other'),
 (4, 'Categories'),
 (5, 'Mains'),
 (6, 'Starters'),
 (7, 'Getränke'),
 (8, 'Tea'),
 (9, 'Alcoholic'),
 (10, 'Extras'),
 (11, 'Coffee'),
 (12, 'Dessert'),
 (13, 'Oaf Add On Mains'),
 (14, 'Af Sparkling Water_'),
 (15, 'Merch'),
 (16, 'Oaf Add On Starters'),
 (17, 'Af Kombucha_'),
 (18, 'Early Bird Promotion'),
 (19, 'Cutlery'),
 (21, 'Products'),
 (22, 'Nasi Lemak'),
 (23, 'Hainanese Chicken Rice'),
 (24, 'Curry Of The Week'),
 (25, 'Prawn Laksa #1'),
 (26, 'Hainanese Chicken Rice DINNER'),
 (27, 'Ayam Goreng'),
 (28, 'Tauhu Goreng'),
 (29, 'Mushroom Congee'),
 (30, 'Kohlrabi Kerabu'),
 (31, 'Aubergine Laksa #1'),
 (32, 'Kaya Butter Toast'),
 (33, 'Lychee Lime Fizz'),
 (34, 'Teh Tarik'),
 (35, 'Teh Ais'),
 (36, 'Sago Pudding'),
 (37, 'AYAM GORENG 2pcs'),
 (38, 'Kopi Peng'),
 (39, 'Tiger Beer'),
 (40, 'Kopi'),
 (41, 'French Toast'),
 (42, 'Curry Of The Week DINNER'),
 (43, 'Chwee Kueh #1'),
 (44, 'Coconut Water'),
 (45, 'Kombucha'),
 (46, 'Teh O Ais Limau #1'),
 (47, 'Pandan Pinita Colada'),
 (48, 'Ayam Goreng Rice Bowl'),
 (49, '700ml'),
 (50, 'SET! Kaya EGGS'),
 (51, 'Lychee Gin Spritz'),
 (52, 'Bowl Of Coconut Rice'),
 (53, 'Regular Kaya Jar'),
 (54, 'T-shirt'),
 (55, 'Soursop Soda'),
 (56, 'Pandan Pina Colada'),
 (57, 'GLASS Orange Wine Vigna Flor'),
 (58, 'Tamarind Prawns #1'),
 (59, 'Side Portion Curry'),
 (60, 'Tamarind Sour'),
 (61, 'Side Curry'),
 (62, 'Spicy Ginger Beer'),
 (63, 'Bowl Of Chicken Rice'),
 (64, 'Osmanthus Herbal Infusion'),
 (65, '330ml'),
 (66, 'Kaya Jar'),
 (67, 'Still Water 330ml'),
 (68, 'SET! Kaya'),
 (69, 'SET! Kopi'),
 (70, 'Pineapple Aperol Spritz'),
 (71, 'Pandan Pavlova'),
 (72, 'Jujube tea'),
 (73, 'GLASS Red Wine'),
 (74, 'French Toast *'),
 (75, 'Kopi O -Kosong'),
 (76, 'Kopi Gu Yu'),
 (77, 'Youtiao'),
 (78, 'Sambal Shrimp'),
 (79, 'BOTTLE Orange Wine Vigna Flor'),
 (80, 'Vegan Ayam Goreng'),
 (81, 'Eggs'),
 (82, 'Small Kaya Jar'),
 (83, 'Krupuk Udang'),
 (84, 'Divers Mains'),
 (85, '2pcs Ayam'),
 (86, 'French Kaya Toast'),
 (87, 'Kopi C'),
 (88, 'Fermented tofu'),
 (89, 'Chrysanthemum Tea'),
 (90, 'Shopping bag'),
 (91, 'Achar Awak'),
 (92, 'Divers Extras'),
 (93, 'Red braised Tofu'),
 (94, 'Sambal Fried Aubergine Bowl'),
 (95, 'Keychain'),
 (96, 'Bitter Guava Schorle'),
 (97, 'Ginger'),
 (98, 'Cendawan Goreng'),
 (99, 'Kaya Croissant'),
 (100, 'Extra AUBERGINE'),
 (101, 'Poster'),
 (102, 'Green beans:)'),
 (103, 'Pulut Hitam'),
 (104, 'Green Beans'),
 (105, 'Soft-boiled eggs'),
 (106, 'BOTTLE White Wine Tangerine'),
 (107, 'Nasi Camper'),
 (108, 'Raspberry'),
 (109, 'Divers Starters'),
 (110, 'Tempeh + anchovies'),
 (111, 'Curry puffs'),
 (112, 'Guava Mimosa'),
 (113, 'VEGAN AYAM GORENG 2pcs'),
 (114, 'Singapore Fling'),
 (115, 'Divers Getränke'),
 (116, 'Krupuk Udang'),
 (117, 'Sambal Vegan'),
 (118, 'Extra PRAWNS'),
 (119, 'Ayam Goreng mahjong'),
 (120, 'Extra Chilli sauce'),
 (121, 'Red braised tofu mahjong'),
 (122, 'Divers Tea'),
 (123, 'Divers Dessert'),
 (124, 'Stir Fried Beans'),
 (125, 'Cendol'),
 (126, '1 x Egg (any style)'),
 (127, 'Divers Alcoholic'),
 (128, 'Sambal Fried Aubergine'),
 (129, 'Extra Ginger sauce'),
 (130, 'Lammsbräu Alkoholfrei'),
 (131, 'Gluten Free'),
 (132, 'Pulut Hitam mahjong'),
 (133, 'Divers Coffee'),
 (134, 'Canetta Rose'),
 (135, 'Gulag Sayur'),
 (136, 'Pandan Coconut Bun'),
 (137, 'Sambal Stir-fried Okra'),
 (138, 'To go box'),
 (139, 'Side of Pouched Chicken'),
 (140, 'Toast'),
 (141, 'Youtiao mit Kondensmilch *'),
 (142, '1/2 Egg'),
 (143, 'Youtiao with Condensed Milk'),
 (144, 'Kopi 1'),
 (145, 'Vegetarisch'),
 (146, 'Vegan_'),
 (147, 'Sparkling Water'),
 (148, 'Youtiao ohne Kondensmilch'),
 (149, 'Extra Eggs'),
 (150, 'Chopsticks'),
 (151, 'Silver')]

In [54]:
# drop values in 'Item' column that are non-essential

repo24_c = repo24_c.drop([4, 21])
repo24_c.reset_index(drop=True, inplace=True)
list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Beverages'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Getränke'),
 (6, 'Tea'),
 (7, 'Alcoholic'),
 (8, 'Extras'),
 (9, 'Coffee'),
 (10, 'Dessert'),
 (11, 'Oaf Add On Mains'),
 (12, 'Af Sparkling Water_'),
 (13, 'Merch'),
 (14, 'Oaf Add On Starters'),
 (15, 'Af Kombucha_'),
 (16, 'Early Bird Promotion'),
 (17, 'Cutlery'),
 (18, 'Nasi Lemak'),
 (19, 'Hainanese Chicken Rice'),
 (20, 'Curry Of The Week'),
 (21, 'Prawn Laksa #1'),
 (22, 'Hainanese Chicken Rice DINNER'),
 (23, 'Ayam Goreng'),
 (24, 'Tauhu Goreng'),
 (25, 'Mushroom Congee'),
 (26, 'Kohlrabi Kerabu'),
 (27, 'Aubergine Laksa #1'),
 (28, 'Kaya Butter Toast'),
 (29, 'Lychee Lime Fizz'),
 (30, 'Teh Tarik'),
 (31, 'Teh Ais'),
 (32, 'Sago Pudding'),
 (33, 'AYAM GORENG 2pcs'),
 (34, 'Kopi Peng'),
 (35, 'Tiger Beer'),
 (36, 'Kopi'),
 (37, 'French Toast'),
 (38, 'Curry Of The Week DINNER'),
 (39, 'Chwee Kueh #1'),
 (40, 'Coconut Water'),
 (41, 'Kombucha'),
 (42, 'Teh O Ais Limau #1'),
 (43, 'Pandan Pinita Colada'),
 (44, 'Ayam Goreng Rice Bowl'),
 (45, '700ml'),
 (46, 'SET! Kaya EGGS'),
 (47, 'Lychee Gin Spritz'),
 (48, 'Bowl Of Coconut Rice'),
 (49, 'Regular Kaya Jar'),
 (50, 'T-shirt'),
 (51, 'Soursop Soda'),
 (52, 'Pandan Pina Colada'),
 (53, 'GLASS Orange Wine Vigna Flor'),
 (54, 'Tamarind Prawns #1'),
 (55, 'Side Portion Curry'),
 (56, 'Tamarind Sour'),
 (57, 'Side Curry'),
 (58, 'Spicy Ginger Beer'),
 (59, 'Bowl Of Chicken Rice'),
 (60, 'Osmanthus Herbal Infusion'),
 (61, '330ml'),
 (62, 'Kaya Jar'),
 (63, 'Still Water 330ml'),
 (64, 'SET! Kaya'),
 (65, 'SET! Kopi'),
 (66, 'Pineapple Aperol Spritz'),
 (67, 'Pandan Pavlova'),
 (68, 'Jujube tea'),
 (69, 'GLASS Red Wine'),
 (70, 'French Toast *'),
 (71, 'Kopi O -Kosong'),
 (72, 'Kopi Gu Yu'),
 (73, 'Youtiao'),
 (74, 'Sambal Shrimp'),
 (75, 'BOTTLE Orange Wine Vigna Flor'),
 (76, 'Vegan Ayam Goreng'),
 (77, 'Eggs'),
 (78, 'Small Kaya Jar'),
 (79, 'Krupuk Udang'),
 (80, 'Divers Mains'),
 (81, '2pcs Ayam'),
 (82, 'French Kaya Toast'),
 (83, 'Kopi C'),
 (84, 'Fermented tofu'),
 (85, 'Chrysanthemum Tea'),
 (86, 'Shopping bag'),
 (87, 'Achar Awak'),
 (88, 'Divers Extras'),
 (89, 'Red braised Tofu'),
 (90, 'Sambal Fried Aubergine Bowl'),
 (91, 'Keychain'),
 (92, 'Bitter Guava Schorle'),
 (93, 'Ginger'),
 (94, 'Cendawan Goreng'),
 (95, 'Kaya Croissant'),
 (96, 'Extra AUBERGINE'),
 (97, 'Poster'),
 (98, 'Green beans:)'),
 (99, 'Pulut Hitam'),
 (100, 'Green Beans'),
 (101, 'Soft-boiled eggs'),
 (102, 'BOTTLE White Wine Tangerine'),
 (103, 'Nasi Camper'),
 (104, 'Raspberry'),
 (105, 'Divers Starters'),
 (106, 'Tempeh + anchovies'),
 (107, 'Curry puffs'),
 (108, 'Guava Mimosa'),
 (109, 'VEGAN AYAM GORENG 2pcs'),
 (110, 'Singapore Fling'),
 (111, 'Divers Getränke'),
 (112, 'Krupuk Udang'),
 (113, 'Sambal Vegan'),
 (114, 'Extra PRAWNS'),
 (115, 'Ayam Goreng mahjong'),
 (116, 'Extra Chilli sauce'),
 (117, 'Red braised tofu mahjong'),
 (118, 'Divers Tea'),
 (119, 'Divers Dessert'),
 (120, 'Stir Fried Beans'),
 (121, 'Cendol'),
 (122, '1 x Egg (any style)'),
 (123, 'Divers Alcoholic'),
 (124, 'Sambal Fried Aubergine'),
 (125, 'Extra Ginger sauce'),
 (126, 'Lammsbräu Alkoholfrei'),
 (127, 'Gluten Free'),
 (128, 'Pulut Hitam mahjong'),
 (129, 'Divers Coffee'),
 (130, 'Canetta Rose'),
 (131, 'Gulag Sayur'),
 (132, 'Pandan Coconut Bun'),
 (133, 'Sambal Stir-fried Okra'),
 (134, 'To go box'),
 (135, 'Side of Pouched Chicken'),
 (136, 'Toast'),
 (137, 'Youtiao mit Kondensmilch *'),
 (138, '1/2 Egg'),
 (139, 'Youtiao with Condensed Milk'),
 (140, 'Kopi 1'),
 (141, 'Vegetarisch'),
 (142, 'Vegan_'),
 (143, 'Sparkling Water'),
 (144, 'Youtiao ohne Kondensmilch'),
 (145, 'Extra Eggs'),
 (146, 'Chopsticks'),
 (147, 'Silver')]

In [55]:
# transform 'Total' and 'Tip' columns into numeric Euro values

euro_c = ['General: Total', 'In-house: Total', 'Take-away: Total']

for col in euro_c:
    repo24_c[col] = pd.to_numeric(repo24_c[col], errors='coerce')
    repo24_c[col] = repo24_c[col].apply(lambda x: f"€{x:,.2f}" if pd.notnull(x) else '')

repo24_c

,Item,General: Count,General: Total,General: %,In-house: Count,In-house: Total,Take-away: Count,Take-away: Total
0,Food,38095.0,"€390,708.66",79.90 %,31987,"€330,904.71",6108,"€59,803.95"
1,Beverages,20905.0,"€94,512.50",19.33 %,20050,"€90,790.10",855,"€3,722.40"
2,Other,180.0,"€3,768.00",0.77 %,121,"€2,611.60",59,"€1,156.40"
3,Mains,18688.0,"€281,271.06",57.52 %,16149,"€241,621.88",2539,"€39,649.18"
4,Starters,9025.0,"€71,914.36",14.71 %,7564,"€59,643.06",1461,"€12,271.30"
...,...,...,...,...,...,...,...,...
143,Sparkling Water,1220.0,€0.00,0.00 %,1196,€0.00,24,€0.00
144,Youtiao ohne Kondensmilch,28.0,€0.00,0.00 %,27,€0.00,1,€0.00
145,Extra Eggs,58.0,€0.00,0.00 %,56,€0.00,2,€0.00
146,Chopsticks,19.0,€0.00,0.00 %,19,€0.00,0,€0.00
147,Silver,40.0,€0.00,0.00 %,40,€0.00,0,€0.00

In [56]:
# Define mask for both rows to combine
cm_bev = repo24_c['Item'].isin(['Beverages', 'Getränke'])

# Find the index of the first 'amber' to insert the combined row
fi_bev = repo24_c[repo24_c['Item'] == 'Beverages'].index[0]

# Sum the numeric columns
sum_bev = repo24_c.loc[cm_bev, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
bev = pd.DataFrame([{
    'Item': 'Category: Drink',
    'General: Count': sum_bev['General: Count'],
    'General: Total': sum_bev['General: Total'],
    'General: %': sum_bev['General: %'],
    'In-house: Count': sum_bev['In-house: Count'],
    'In-house: Total': sum_bev['In-house: Total'],
    'Take-away: Count': sum_bev['Take-away: Count'],
    'Take-away: Total': sum_bev['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_bev].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_bev]
bottom = repo24_c.iloc[fi_bev:]
repo24_c = pd.concat([top, bev, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Af Sparkling Water_'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Af Kombucha_'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'AYAM GORENG 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Kopi'),
 (36, 'French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Kombucha'),
 (41, 'Teh O Ais Limau #1'),
 (42, 'Pandan Pinita Colada'),
 (43, 'Ayam Goreng Rice Bowl'),
 (44, '700ml'),
 (45, 'SET! Kaya EGGS'),
 (46, 'Lychee Gin Spritz'),
 (47, 'Bowl Of Coconut Rice'),
 (48, 'Regular Kaya Jar'),
 (49, 'T-shirt'),
 (50, 'Soursop Soda'),
 (51, 'Pandan Pina Colada'),
 (52, 'GLASS Orange Wine Vigna Flor'),
 (53, 'Tamarind Prawns #1'),
 (54, 'Side Portion Curry'),
 (55, 'Tamarind Sour'),
 (56, 'Side Curry'),
 (57, 'Spicy Ginger Beer'),
 (58, 'Bowl Of Chicken Rice'),
 (59, 'Osmanthus Herbal Infusion'),
 (60, '330ml'),
 (61, 'Kaya Jar'),
 (62, 'Still Water 330ml'),
 (63, 'SET! Kaya'),
 (64, 'SET! Kopi'),
 (65, 'Pineapple Aperol Spritz'),
 (66, 'Pandan Pavlova'),
 (67, 'Jujube tea'),
 (68, 'GLASS Red Wine'),
 (69, 'French Toast *'),
 (70, 'Kopi O -Kosong'),
 (71, 'Kopi Gu Yu'),
 (72, 'Youtiao'),
 (73, 'Sambal Shrimp'),
 (74, 'BOTTLE Orange Wine Vigna Flor'),
 (75, 'Vegan Ayam Goreng'),
 (76, 'Eggs'),
 (77, 'Small Kaya Jar'),
 (78, 'Krupuk Udang'),
 (79, 'Divers Mains'),
 (80, '2pcs Ayam'),
 (81, 'French Kaya Toast'),
 (82, 'Kopi C'),
 (83, 'Fermented tofu'),
 (84, 'Chrysanthemum Tea'),
 (85, 'Shopping bag'),
 (86, 'Achar Awak'),
 (87, 'Divers Extras'),
 (88, 'Red braised Tofu'),
 (89, 'Sambal Fried Aubergine Bowl'),
 (90, 'Keychain'),
 (91, 'Bitter Guava Schorle'),
 (92, 'Ginger'),
 (93, 'Cendawan Goreng'),
 (94, 'Kaya Croissant'),
 (95, 'Extra AUBERGINE'),
 (96, 'Poster'),
 (97, 'Green beans:)'),
 (98, 'Pulut Hitam'),
 (99, 'Green Beans'),
 (100, 'Soft-boiled eggs'),
 (101, 'BOTTLE White Wine Tangerine'),
 (102, 'Nasi Camper'),
 (103, 'Raspberry'),
 (104, 'Divers Starters'),
 (105, 'Tempeh + anchovies'),
 (106, 'Curry puffs'),
 (107, 'Guava Mimosa'),
 (108, 'VEGAN AYAM GORENG 2pcs'),
 (109, 'Singapore Fling'),
 (110, 'Divers Getränke'),
 (111, 'Krupuk Udang'),
 (112, 'Sambal Vegan'),
 (113, 'Extra PRAWNS'),
 (114, 'Ayam Goreng mahjong'),
 (115, 'Extra Chilli sauce'),
 (116, 'Red braised tofu mahjong'),
 (117, 'Divers Tea'),
 (118, 'Divers Dessert'),
 (119, 'Stir Fried Beans'),
 (120, 'Cendol'),
 (121, '1 x Egg (any style)'),
 (122, 'Divers Alcoholic'),
 (123, 'Sambal Fried Aubergine'),
 (124, 'Extra Ginger sauce'),
 (125, 'Lammsbräu Alkoholfrei'),
 (126, 'Gluten Free'),
 (127, 'Pulut Hitam mahjong'),
 (128, 'Divers Coffee'),
 (129, 'Canetta Rose'),
 (130, 'Gulag Sayur'),
 (131, 'Pandan Coconut Bun'),
 (132, 'Sambal Stir-fried Okra'),
 (133, 'To go box'),
 (134, 'Side of Pouched Chicken'),
 (135, 'Toast'),
 (136, 'Youtiao mit Kondensmilch *'),
 (137, '1/2 Egg'),
 (138, 'Youtiao with Condensed Milk'),
 (139, 'Kopi 1'),
 (140, 'Vegetarisch'),
 (141, 'Vegan_'),
 (142, 'Sparkling Water'),
 (143, 'Youtiao ohne Kondensmilch'),
 (144, 'Extra Eggs'),
 (145, 'Chopsticks'),
 (146, 'Silver')]

In [57]:
# Define mask for both rows to combine
cm_kom = repo24_c['Item'].isin(['Af Kombucha_', 'Kombucha'])

# Find the index of the first 'amber' to insert the combined row
fi_kom = repo24_c[repo24_c['Item'] == 'Af Kombucha_'].index[0]

# Sum the numeric columns
sum_kom = repo24_c.loc[cm_kom, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
kom = pd.DataFrame([{
    'Item': 'Drink: Kombucha',
    'General: Count': sum_kom['General: Count'],
    'General: Total': sum_kom['General: Total'],
    'General: %': sum_kom['General: %'],
    'In-house: Count': sum_kom['In-house: Count'],
    'In-house: Total': sum_kom['In-house: Total'],
    'Take-away: Count': sum_kom['Take-away: Count'],
    'Take-away: Total': sum_kom['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_kom].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_kom]
bottom = repo24_c.iloc[fi_kom:]
repo24_c = pd.concat([top, kom, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Af Sparkling Water_'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Drink: Kombucha'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'AYAM GORENG 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Kopi'),
 (36, 'French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Teh O Ais Limau #1'),
 (41, 'Pandan Pinita Colada'),
 (42, 'Ayam Goreng Rice Bowl'),
 (43, '700ml'),
 (44, 'SET! Kaya EGGS'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Bowl Of Coconut Rice'),
 (47, 'Regular Kaya Jar'),
 (48, 'T-shirt'),
 (49, 'Soursop Soda'),
 (50, 'Pandan Pina Colada'),
 (51, 'GLASS Orange Wine Vigna Flor'),
 (52, 'Tamarind Prawns #1'),
 (53, 'Side Portion Curry'),
 (54, 'Tamarind Sour'),
 (55, 'Side Curry'),
 (56, 'Spicy Ginger Beer'),
 (57, 'Bowl Of Chicken Rice'),
 (58, 'Osmanthus Herbal Infusion'),
 (59, '330ml'),
 (60, 'Kaya Jar'),
 (61, 'Still Water 330ml'),
 (62, 'SET! Kaya'),
 (63, 'SET! Kopi'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'Pandan Pavlova'),
 (66, 'Jujube tea'),
 (67, 'GLASS Red Wine'),
 (68, 'French Toast *'),
 (69, 'Kopi O -Kosong'),
 (70, 'Kopi Gu Yu'),
 (71, 'Youtiao'),
 (72, 'Sambal Shrimp'),
 (73, 'BOTTLE Orange Wine Vigna Flor'),
 (74, 'Vegan Ayam Goreng'),
 (75, 'Eggs'),
 (76, 'Small Kaya Jar'),
 (77, 'Krupuk Udang'),
 (78, 'Divers Mains'),
 (79, '2pcs Ayam'),
 (80, 'French Kaya Toast'),
 (81, 'Kopi C'),
 (82, 'Fermented tofu'),
 (83, 'Chrysanthemum Tea'),
 (84, 'Shopping bag'),
 (85, 'Achar Awak'),
 (86, 'Divers Extras'),
 (87, 'Red braised Tofu'),
 (88, 'Sambal Fried Aubergine Bowl'),
 (89, 'Keychain'),
 (90, 'Bitter Guava Schorle'),
 (91, 'Ginger'),
 (92, 'Cendawan Goreng'),
 (93, 'Kaya Croissant'),
 (94, 'Extra AUBERGINE'),
 (95, 'Poster'),
 (96, 'Green beans:)'),
 (97, 'Pulut Hitam'),
 (98, 'Green Beans'),
 (99, 'Soft-boiled eggs'),
 (100, 'BOTTLE White Wine Tangerine'),
 (101, 'Nasi Camper'),
 (102, 'Raspberry'),
 (103, 'Divers Starters'),
 (104, 'Tempeh + anchovies'),
 (105, 'Curry puffs'),
 (106, 'Guava Mimosa'),
 (107, 'VEGAN AYAM GORENG 2pcs'),
 (108, 'Singapore Fling'),
 (109, 'Divers Getränke'),
 (110, 'Krupuk Udang'),
 (111, 'Sambal Vegan'),
 (112, 'Extra PRAWNS'),
 (113, 'Ayam Goreng mahjong'),
 (114, 'Extra Chilli sauce'),
 (115, 'Red braised tofu mahjong'),
 (116, 'Divers Tea'),
 (117, 'Divers Dessert'),
 (118, 'Stir Fried Beans'),
 (119, 'Cendol'),
 (120, '1 x Egg (any style)'),
 (121, 'Divers Alcoholic'),
 (122, 'Sambal Fried Aubergine'),
 (123, 'Extra Ginger sauce'),
 (124, 'Lammsbräu Alkoholfrei'),
 (125, 'Gluten Free'),
 (126, 'Pulut Hitam mahjong'),
 (127, 'Divers Coffee'),
 (128, 'Canetta Rose'),
 (129, 'Gulag Sayur'),
 (130, 'Pandan Coconut Bun'),
 (131, 'Sambal Stir-fried Okra'),
 (132, 'To go box'),
 (133, 'Side of Pouched Chicken'),
 (134, 'Toast'),
 (135, 'Youtiao mit Kondensmilch *'),
 (136, '1/2 Egg'),
 (137, 'Youtiao with Condensed Milk'),
 (138, 'Kopi 1'),
 (139, 'Vegetarisch'),
 (140, 'Vegan_'),
 (141, 'Sparkling Water'),
 (142, 'Youtiao ohne Kondensmilch'),
 (143, 'Extra Eggs'),
 (144, 'Chopsticks'),
 (145, 'Silver')]

In [58]:
# Define mask for both rows to combine
cm_ayam2 = repo24_c['Item'].isin(['AYAM GORENG 2pcs', '2pcs Ayam'])

# Find the index of the first 'amber' to insert the combined row
fi_ayam2 = repo24_c[repo24_c['Item'] == 'AYAM GORENG 2pcs'].index[0]

# Sum the numeric columns
sum_ayam2 = repo24_c.loc[cm_ayam2, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
ayam2 = pd.DataFrame([{
    'Item': 'Add-on: Ayam Goreng 2pcs',
    'General: Count': sum_ayam2['General: Count'],
    'General: Total': sum_ayam2['General: Total'],
    'General: %': sum_ayam2['General: %'],
    'In-house: Count': sum_ayam2['In-house: Count'],
    'In-house: Total': sum_ayam2['In-house: Total'],
    'Take-away: Count': sum_ayam2['Take-away: Count'],
    'Take-away: Total': sum_ayam2['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_ayam2].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_ayam2]
bottom = repo24_c.iloc[fi_ayam2:]
repo24_c = pd.concat([top, ayam2, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Af Sparkling Water_'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Drink: Kombucha'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'Add-on: Ayam Goreng 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Kopi'),
 (36, 'French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Teh O Ais Limau #1'),
 (41, 'Pandan Pinita Colada'),
 (42, 'Ayam Goreng Rice Bowl'),
 (43, '700ml'),
 (44, 'SET! Kaya EGGS'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Bowl Of Coconut Rice'),
 (47, 'Regular Kaya Jar'),
 (48, 'T-shirt'),
 (49, 'Soursop Soda'),
 (50, 'Pandan Pina Colada'),
 (51, 'GLASS Orange Wine Vigna Flor'),
 (52, 'Tamarind Prawns #1'),
 (53, 'Side Portion Curry'),
 (54, 'Tamarind Sour'),
 (55, 'Side Curry'),
 (56, 'Spicy Ginger Beer'),
 (57, 'Bowl Of Chicken Rice'),
 (58, 'Osmanthus Herbal Infusion'),
 (59, '330ml'),
 (60, 'Kaya Jar'),
 (61, 'Still Water 330ml'),
 (62, 'SET! Kaya'),
 (63, 'SET! Kopi'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'Pandan Pavlova'),
 (66, 'Jujube tea'),
 (67, 'GLASS Red Wine'),
 (68, 'French Toast *'),
 (69, 'Kopi O -Kosong'),
 (70, 'Kopi Gu Yu'),
 (71, 'Youtiao'),
 (72, 'Sambal Shrimp'),
 (73, 'BOTTLE Orange Wine Vigna Flor'),
 (74, 'Vegan Ayam Goreng'),
 (75, 'Eggs'),
 (76, 'Small Kaya Jar'),
 (77, 'Krupuk Udang'),
 (78, 'Divers Mains'),
 (79, 'French Kaya Toast'),
 (80, 'Kopi C'),
 (81, 'Fermented tofu'),
 (82, 'Chrysanthemum Tea'),
 (83, 'Shopping bag'),
 (84, 'Achar Awak'),
 (85, 'Divers Extras'),
 (86, 'Red braised Tofu'),
 (87, 'Sambal Fried Aubergine Bowl'),
 (88, 'Keychain'),
 (89, 'Bitter Guava Schorle'),
 (90, 'Ginger'),
 (91, 'Cendawan Goreng'),
 (92, 'Kaya Croissant'),
 (93, 'Extra AUBERGINE'),
 (94, 'Poster'),
 (95, 'Green beans:)'),
 (96, 'Pulut Hitam'),
 (97, 'Green Beans'),
 (98, 'Soft-boiled eggs'),
 (99, 'BOTTLE White Wine Tangerine'),
 (100, 'Nasi Camper'),
 (101, 'Raspberry'),
 (102, 'Divers Starters'),
 (103, 'Tempeh + anchovies'),
 (104, 'Curry puffs'),
 (105, 'Guava Mimosa'),
 (106, 'VEGAN AYAM GORENG 2pcs'),
 (107, 'Singapore Fling'),
 (108, 'Divers Getränke'),
 (109, 'Krupuk Udang'),
 (110, 'Sambal Vegan'),
 (111, 'Extra PRAWNS'),
 (112, 'Ayam Goreng mahjong'),
 (113, 'Extra Chilli sauce'),
 (114, 'Red braised tofu mahjong'),
 (115, 'Divers Tea'),
 (116, 'Divers Dessert'),
 (117, 'Stir Fried Beans'),
 (118, 'Cendol'),
 (119, '1 x Egg (any style)'),
 (120, 'Divers Alcoholic'),
 (121, 'Sambal Fried Aubergine'),
 (122, 'Extra Ginger sauce'),
 (123, 'Lammsbräu Alkoholfrei'),
 (124, 'Gluten Free'),
 (125, 'Pulut Hitam mahjong'),
 (126, 'Divers Coffee'),
 (127, 'Canetta Rose'),
 (128, 'Gulag Sayur'),
 (129, 'Pandan Coconut Bun'),
 (130, 'Sambal Stir-fried Okra'),
 (131, 'To go box'),
 (132, 'Side of Pouched Chicken'),
 (133, 'Toast'),
 (134, 'Youtiao mit Kondensmilch *'),
 (135, '1/2 Egg'),
 (136, 'Youtiao with Condensed Milk'),
 (137, 'Kopi 1'),
 (138, 'Vegetarisch'),
 (139, 'Vegan_'),
 (140, 'Sparkling Water'),
 (141, 'Youtiao ohne Kondensmilch'),
 (142, 'Extra Eggs'),
 (143, 'Chopsticks'),
 (144, 'Silver')]

In [59]:
# Define mask for both rows to combine
cm_ku = repo24_c['Item'].isin(['Krupuk Udang', 'Krupuk Udang'])

# Find the index of the first 'amber' to insert the combined row
fi_ku = repo24_c[repo24_c['Item'] == 'Krupuk Udang'].index[0]

# Sum the numeric columns
sum_ku = repo24_c.loc[cm_ku, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
ku = pd.DataFrame([{
    'Item': 'Add-on: Krupuk Udang',
    'General: Count': sum_ku['General: Count'],
    'General: Total': sum_ku['General: Total'],
    'General: %': sum_ku['General: %'],
    'In-house: Count': sum_ku['In-house: Count'],
    'In-house: Total': sum_ku['In-house: Total'],
    'Take-away: Count': sum_ku['Take-away: Count'],
    'Take-away: Total': sum_ku['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_ku].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_ku]
bottom = repo24_c.iloc[fi_ku:]
repo24_c = pd.concat([top, ku, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Af Sparkling Water_'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Drink: Kombucha'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'Add-on: Ayam Goreng 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Kopi'),
 (36, 'French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Teh O Ais Limau #1'),
 (41, 'Pandan Pinita Colada'),
 (42, 'Ayam Goreng Rice Bowl'),
 (43, '700ml'),
 (44, 'SET! Kaya EGGS'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Bowl Of Coconut Rice'),
 (47, 'Regular Kaya Jar'),
 (48, 'T-shirt'),
 (49, 'Soursop Soda'),
 (50, 'Pandan Pina Colada'),
 (51, 'GLASS Orange Wine Vigna Flor'),
 (52, 'Tamarind Prawns #1'),
 (53, 'Side Portion Curry'),
 (54, 'Tamarind Sour'),
 (55, 'Side Curry'),
 (56, 'Spicy Ginger Beer'),
 (57, 'Bowl Of Chicken Rice'),
 (58, 'Osmanthus Herbal Infusion'),
 (59, '330ml'),
 (60, 'Kaya Jar'),
 (61, 'Still Water 330ml'),
 (62, 'SET! Kaya'),
 (63, 'SET! Kopi'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'Pandan Pavlova'),
 (66, 'Jujube tea'),
 (67, 'GLASS Red Wine'),
 (68, 'French Toast *'),
 (69, 'Kopi O -Kosong'),
 (70, 'Kopi Gu Yu'),
 (71, 'Youtiao'),
 (72, 'Sambal Shrimp'),
 (73, 'BOTTLE Orange Wine Vigna Flor'),
 (74, 'Vegan Ayam Goreng'),
 (75, 'Eggs'),
 (76, 'Small Kaya Jar'),
 (77, 'Add-on: Krupuk Udang'),
 (78, 'Divers Mains'),
 (79, 'French Kaya Toast'),
 (80, 'Kopi C'),
 (81, 'Fermented tofu'),
 (82, 'Chrysanthemum Tea'),
 (83, 'Shopping bag'),
 (84, 'Achar Awak'),
 (85, 'Divers Extras'),
 (86, 'Red braised Tofu'),
 (87, 'Sambal Fried Aubergine Bowl'),
 (88, 'Keychain'),
 (89, 'Bitter Guava Schorle'),
 (90, 'Ginger'),
 (91, 'Cendawan Goreng'),
 (92, 'Kaya Croissant'),
 (93, 'Extra AUBERGINE'),
 (94, 'Poster'),
 (95, 'Green beans:)'),
 (96, 'Pulut Hitam'),
 (97, 'Green Beans'),
 (98, 'Soft-boiled eggs'),
 (99, 'BOTTLE White Wine Tangerine'),
 (100, 'Nasi Camper'),
 (101, 'Raspberry'),
 (102, 'Divers Starters'),
 (103, 'Tempeh + anchovies'),
 (104, 'Curry puffs'),
 (105, 'Guava Mimosa'),
 (106, 'VEGAN AYAM GORENG 2pcs'),
 (107, 'Singapore Fling'),
 (108, 'Divers Getränke'),
 (109, 'Sambal Vegan'),
 (110, 'Extra PRAWNS'),
 (111, 'Ayam Goreng mahjong'),
 (112, 'Extra Chilli sauce'),
 (113, 'Red braised tofu mahjong'),
 (114, 'Divers Tea'),
 (115, 'Divers Dessert'),
 (116, 'Stir Fried Beans'),
 (117, 'Cendol'),
 (118, '1 x Egg (any style)'),
 (119, 'Divers Alcoholic'),
 (120, 'Sambal Fried Aubergine'),
 (121, 'Extra Ginger sauce'),
 (122, 'Lammsbräu Alkoholfrei'),
 (123, 'Gluten Free'),
 (124, 'Pulut Hitam mahjong'),
 (125, 'Divers Coffee'),
 (126, 'Canetta Rose'),
 (127, 'Gulag Sayur'),
 (128, 'Pandan Coconut Bun'),
 (129, 'Sambal Stir-fried Okra'),
 (130, 'To go box'),
 (131, 'Side of Pouched Chicken'),
 (132, 'Toast'),
 (133, 'Youtiao mit Kondensmilch *'),
 (134, '1/2 Egg'),
 (135, 'Youtiao with Condensed Milk'),
 (136, 'Kopi 1'),
 (137, 'Vegetarisch'),
 (138, 'Vegan_'),
 (139, 'Sparkling Water'),
 (140, 'Youtiao ohne Kondensmilch'),
 (141, 'Extra Eggs'),
 (142, 'Chopsticks'),
 (143, 'Silver')]

In [60]:
# Define mask for both rows to combine
cm_gb = repo24_c['Item'].isin(['Green beans:)', 'Stir Fried Beans', 'Green Beans'])

# Find the index of the first 'amber' to insert the combined row
fi_gb = repo24_c[repo24_c['Item'] == 'Green beans:)'].index[0]

# Sum the numeric columns
sum_gb = repo24_c.loc[cm_gb, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
gb = pd.DataFrame([{
    'Item': 'Add-on: Green Beans',
    'General: Count': sum_gb['General: Count'],
    'General: Total': sum_gb['General: Total'],
    'General: %': sum_gb['General: %'],
    'In-house: Count': sum_gb['In-house: Count'],
    'In-house: Total': sum_gb['In-house: Total'],
    'Take-away: Count': sum_gb['Take-away: Count'],
    'Take-away: Total': sum_gb['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_gb].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_gb]
bottom = repo24_c.iloc[fi_gb:]
repo24_c = pd.concat([top, gb, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Af Sparkling Water_'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Drink: Kombucha'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'Add-on: Ayam Goreng 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Kopi'),
 (36, 'French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Teh O Ais Limau #1'),
 (41, 'Pandan Pinita Colada'),
 (42, 'Ayam Goreng Rice Bowl'),
 (43, '700ml'),
 (44, 'SET! Kaya EGGS'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Bowl Of Coconut Rice'),
 (47, 'Regular Kaya Jar'),
 (48, 'T-shirt'),
 (49, 'Soursop Soda'),
 (50, 'Pandan Pina Colada'),
 (51, 'GLASS Orange Wine Vigna Flor'),
 (52, 'Tamarind Prawns #1'),
 (53, 'Side Portion Curry'),
 (54, 'Tamarind Sour'),
 (55, 'Side Curry'),
 (56, 'Spicy Ginger Beer'),
 (57, 'Bowl Of Chicken Rice'),
 (58, 'Osmanthus Herbal Infusion'),
 (59, '330ml'),
 (60, 'Kaya Jar'),
 (61, 'Still Water 330ml'),
 (62, 'SET! Kaya'),
 (63, 'SET! Kopi'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'Pandan Pavlova'),
 (66, 'Jujube tea'),
 (67, 'GLASS Red Wine'),
 (68, 'French Toast *'),
 (69, 'Kopi O -Kosong'),
 (70, 'Kopi Gu Yu'),
 (71, 'Youtiao'),
 (72, 'Sambal Shrimp'),
 (73, 'BOTTLE Orange Wine Vigna Flor'),
 (74, 'Vegan Ayam Goreng'),
 (75, 'Eggs'),
 (76, 'Small Kaya Jar'),
 (77, 'Add-on: Krupuk Udang'),
 (78, 'Divers Mains'),
 (79, 'French Kaya Toast'),
 (80, 'Kopi C'),
 (81, 'Fermented tofu'),
 (82, 'Chrysanthemum Tea'),
 (83, 'Shopping bag'),
 (84, 'Achar Awak'),
 (85, 'Divers Extras'),
 (86, 'Red braised Tofu'),
 (87, 'Sambal Fried Aubergine Bowl'),
 (88, 'Keychain'),
 (89, 'Bitter Guava Schorle'),
 (90, 'Ginger'),
 (91, 'Cendawan Goreng'),
 (92, 'Kaya Croissant'),
 (93, 'Extra AUBERGINE'),
 (94, 'Poster'),
 (95, 'Add-on: Green Beans'),
 (96, 'Pulut Hitam'),
 (97, 'Soft-boiled eggs'),
 (98, 'BOTTLE White Wine Tangerine'),
 (99, 'Nasi Camper'),
 (100, 'Raspberry'),
 (101, 'Divers Starters'),
 (102, 'Tempeh + anchovies'),
 (103, 'Curry puffs'),
 (104, 'Guava Mimosa'),
 (105, 'VEGAN AYAM GORENG 2pcs'),
 (106, 'Singapore Fling'),
 (107, 'Divers Getränke'),
 (108, 'Sambal Vegan'),
 (109, 'Extra PRAWNS'),
 (110, 'Ayam Goreng mahjong'),
 (111, 'Extra Chilli sauce'),
 (112, 'Red braised tofu mahjong'),
 (113, 'Divers Tea'),
 (114, 'Divers Dessert'),
 (115, 'Cendol'),
 (116, '1 x Egg (any style)'),
 (117, 'Divers Alcoholic'),
 (118, 'Sambal Fried Aubergine'),
 (119, 'Extra Ginger sauce'),
 (120, 'Lammsbräu Alkoholfrei'),
 (121, 'Gluten Free'),
 (122, 'Pulut Hitam mahjong'),
 (123, 'Divers Coffee'),
 (124, 'Canetta Rose'),
 (125, 'Gulag Sayur'),
 (126, 'Pandan Coconut Bun'),
 (127, 'Sambal Stir-fried Okra'),
 (128, 'To go box'),
 (129, 'Side of Pouched Chicken'),
 (130, 'Toast'),
 (131, 'Youtiao mit Kondensmilch *'),
 (132, '1/2 Egg'),
 (133, 'Youtiao with Condensed Milk'),
 (134, 'Kopi 1'),
 (135, 'Vegetarisch'),
 (136, 'Vegan_'),
 (137, 'Sparkling Water'),
 (138, 'Youtiao ohne Kondensmilch'),
 (139, 'Extra Eggs'),
 (140, 'Chopsticks'),
 (141, 'Silver')]

In [61]:
# Define mask for both rows to combine
cm_sbeggs = repo24_c['Item'].isin(['Eggs', 'Soft-boiled eggs', 'Extra Eggs'])

# Find the index of the first 'amber' to insert the combined row
fi_sbeggs = repo24_c[repo24_c['Item'] == 'Eggs'].index[0]

# Sum the numeric columns
sum_sbeggs = repo24_c.loc[cm_sbeggs, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
sbeggs = pd.DataFrame([{
    'Item': 'Add-on: Soft-boiled eggs',
    'General: Count': sum_sbeggs['General: Count'],
    'General: Total': sum_sbeggs['General: Total'],
    'General: %': sum_sbeggs['General: %'],
    'In-house: Count': sum_sbeggs['In-house: Count'],
    'In-house: Total': sum_sbeggs['In-house: Total'],
    'Take-away: Count': sum_sbeggs['Take-away: Count'],
    'Take-away: Total': sum_sbeggs['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_sbeggs].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_sbeggs]
bottom = repo24_c.iloc[fi_sbeggs:]
repo24_c = pd.concat([top, sbeggs, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Af Sparkling Water_'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Drink: Kombucha'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'Add-on: Ayam Goreng 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Kopi'),
 (36, 'French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Teh O Ais Limau #1'),
 (41, 'Pandan Pinita Colada'),
 (42, 'Ayam Goreng Rice Bowl'),
 (43, '700ml'),
 (44, 'SET! Kaya EGGS'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Bowl Of Coconut Rice'),
 (47, 'Regular Kaya Jar'),
 (48, 'T-shirt'),
 (49, 'Soursop Soda'),
 (50, 'Pandan Pina Colada'),
 (51, 'GLASS Orange Wine Vigna Flor'),
 (52, 'Tamarind Prawns #1'),
 (53, 'Side Portion Curry'),
 (54, 'Tamarind Sour'),
 (55, 'Side Curry'),
 (56, 'Spicy Ginger Beer'),
 (57, 'Bowl Of Chicken Rice'),
 (58, 'Osmanthus Herbal Infusion'),
 (59, '330ml'),
 (60, 'Kaya Jar'),
 (61, 'Still Water 330ml'),
 (62, 'SET! Kaya'),
 (63, 'SET! Kopi'),
 (64, 'Pineapple Aperol Spritz'),
 (65, 'Pandan Pavlova'),
 (66, 'Jujube tea'),
 (67, 'GLASS Red Wine'),
 (68, 'French Toast *'),
 (69, 'Kopi O -Kosong'),
 (70, 'Kopi Gu Yu'),
 (71, 'Youtiao'),
 (72, 'Sambal Shrimp'),
 (73, 'BOTTLE Orange Wine Vigna Flor'),
 (74, 'Vegan Ayam Goreng'),
 (75, 'Add-on: Soft-boiled eggs'),
 (76, 'Small Kaya Jar'),
 (77, 'Add-on: Krupuk Udang'),
 (78, 'Divers Mains'),
 (79, 'French Kaya Toast'),
 (80, 'Kopi C'),
 (81, 'Fermented tofu'),
 (82, 'Chrysanthemum Tea'),
 (83, 'Shopping bag'),
 (84, 'Achar Awak'),
 (85, 'Divers Extras'),
 (86, 'Red braised Tofu'),
 (87, 'Sambal Fried Aubergine Bowl'),
 (88, 'Keychain'),
 (89, 'Bitter Guava Schorle'),
 (90, 'Ginger'),
 (91, 'Cendawan Goreng'),
 (92, 'Kaya Croissant'),
 (93, 'Extra AUBERGINE'),
 (94, 'Poster'),
 (95, 'Add-on: Green Beans'),
 (96, 'Pulut Hitam'),
 (97, 'BOTTLE White Wine Tangerine'),
 (98, 'Nasi Camper'),
 (99, 'Raspberry'),
 (100, 'Divers Starters'),
 (101, 'Tempeh + anchovies'),
 (102, 'Curry puffs'),
 (103, 'Guava Mimosa'),
 (104, 'VEGAN AYAM GORENG 2pcs'),
 (105, 'Singapore Fling'),
 (106, 'Divers Getränke'),
 (107, 'Sambal Vegan'),
 (108, 'Extra PRAWNS'),
 (109, 'Ayam Goreng mahjong'),
 (110, 'Extra Chilli sauce'),
 (111, 'Red braised tofu mahjong'),
 (112, 'Divers Tea'),
 (113, 'Divers Dessert'),
 (114, 'Cendol'),
 (115, '1 x Egg (any style)'),
 (116, 'Divers Alcoholic'),
 (117, 'Sambal Fried Aubergine'),
 (118, 'Extra Ginger sauce'),
 (119, 'Lammsbräu Alkoholfrei'),
 (120, 'Gluten Free'),
 (121, 'Pulut Hitam mahjong'),
 (122, 'Divers Coffee'),
 (123, 'Canetta Rose'),
 (124, 'Gulag Sayur'),
 (125, 'Pandan Coconut Bun'),
 (126, 'Sambal Stir-fried Okra'),
 (127, 'To go box'),
 (128, 'Side of Pouched Chicken'),
 (129, 'Toast'),
 (130, 'Youtiao mit Kondensmilch *'),
 (131, '1/2 Egg'),
 (132, 'Youtiao with Condensed Milk'),
 (133, 'Kopi 1'),
 (134, 'Vegetarisch'),
 (135, 'Vegan_'),
 (136, 'Sparkling Water'),
 (137, 'Youtiao ohne Kondensmilch'),
 (138, 'Chopsticks'),
 (139, 'Silver')]

In [62]:
# Define mask for both rows to combine
cm_kk = repo24_c['Item'].isin(['SET! Kaya', 'SET! Kopi'])

# Find the index of the first 'amber' to insert the combined row
fi_kk = repo24_c[repo24_c['Item'] == 'SET! Kaya'].index[0]

# Sum the numeric columns
sum_kk = repo24_c.loc[cm_kk, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
kk = pd.DataFrame([{
    'Item': 'Promo: Kopi & Kaya Toast',
    'General: Count': sum_kk['General: Count'],
    'General: Total': sum_kk['General: Total'],
    'General: %': sum_kk['General: %'],
    'In-house: Count': sum_kk['In-house: Count'],
    'In-house: Total': sum_kk['In-house: Total'],
    'Take-away: Count': sum_kk['Take-away: Count'],
    'Take-away: Total': sum_kk['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_kk].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_kk]
bottom = repo24_c.iloc[fi_kk:]
repo24_c = pd.concat([top, kk, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Af Sparkling Water_'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Drink: Kombucha'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'Add-on: Ayam Goreng 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Kopi'),
 (36, 'French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Teh O Ais Limau #1'),
 (41, 'Pandan Pinita Colada'),
 (42, 'Ayam Goreng Rice Bowl'),
 (43, '700ml'),
 (44, 'SET! Kaya EGGS'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Bowl Of Coconut Rice'),
 (47, 'Regular Kaya Jar'),
 (48, 'T-shirt'),
 (49, 'Soursop Soda'),
 (50, 'Pandan Pina Colada'),
 (51, 'GLASS Orange Wine Vigna Flor'),
 (52, 'Tamarind Prawns #1'),
 (53, 'Side Portion Curry'),
 (54, 'Tamarind Sour'),
 (55, 'Side Curry'),
 (56, 'Spicy Ginger Beer'),
 (57, 'Bowl Of Chicken Rice'),
 (58, 'Osmanthus Herbal Infusion'),
 (59, '330ml'),
 (60, 'Kaya Jar'),
 (61, 'Still Water 330ml'),
 (62, 'Promo: Kopi & Kaya Toast'),
 (63, 'Pineapple Aperol Spritz'),
 (64, 'Pandan Pavlova'),
 (65, 'Jujube tea'),
 (66, 'GLASS Red Wine'),
 (67, 'French Toast *'),
 (68, 'Kopi O -Kosong'),
 (69, 'Kopi Gu Yu'),
 (70, 'Youtiao'),
 (71, 'Sambal Shrimp'),
 (72, 'BOTTLE Orange Wine Vigna Flor'),
 (73, 'Vegan Ayam Goreng'),
 (74, 'Add-on: Soft-boiled eggs'),
 (75, 'Small Kaya Jar'),
 (76, 'Add-on: Krupuk Udang'),
 (77, 'Divers Mains'),
 (78, 'French Kaya Toast'),
 (79, 'Kopi C'),
 (80, 'Fermented tofu'),
 (81, 'Chrysanthemum Tea'),
 (82, 'Shopping bag'),
 (83, 'Achar Awak'),
 (84, 'Divers Extras'),
 (85, 'Red braised Tofu'),
 (86, 'Sambal Fried Aubergine Bowl'),
 (87, 'Keychain'),
 (88, 'Bitter Guava Schorle'),
 (89, 'Ginger'),
 (90, 'Cendawan Goreng'),
 (91, 'Kaya Croissant'),
 (92, 'Extra AUBERGINE'),
 (93, 'Poster'),
 (94, 'Add-on: Green Beans'),
 (95, 'Pulut Hitam'),
 (96, 'BOTTLE White Wine Tangerine'),
 (97, 'Nasi Camper'),
 (98, 'Raspberry'),
 (99, 'Divers Starters'),
 (100, 'Tempeh + anchovies'),
 (101, 'Curry puffs'),
 (102, 'Guava Mimosa'),
 (103, 'VEGAN AYAM GORENG 2pcs'),
 (104, 'Singapore Fling'),
 (105, 'Divers Getränke'),
 (106, 'Sambal Vegan'),
 (107, 'Extra PRAWNS'),
 (108, 'Ayam Goreng mahjong'),
 (109, 'Extra Chilli sauce'),
 (110, 'Red braised tofu mahjong'),
 (111, 'Divers Tea'),
 (112, 'Divers Dessert'),
 (113, 'Cendol'),
 (114, '1 x Egg (any style)'),
 (115, 'Divers Alcoholic'),
 (116, 'Sambal Fried Aubergine'),
 (117, 'Extra Ginger sauce'),
 (118, 'Lammsbräu Alkoholfrei'),
 (119, 'Gluten Free'),
 (120, 'Pulut Hitam mahjong'),
 (121, 'Divers Coffee'),
 (122, 'Canetta Rose'),
 (123, 'Gulag Sayur'),
 (124, 'Pandan Coconut Bun'),
 (125, 'Sambal Stir-fried Okra'),
 (126, 'To go box'),
 (127, 'Side of Pouched Chicken'),
 (128, 'Toast'),
 (129, 'Youtiao mit Kondensmilch *'),
 (130, '1/2 Egg'),
 (131, 'Youtiao with Condensed Milk'),
 (132, 'Kopi 1'),
 (133, 'Vegetarisch'),
 (134, 'Vegan_'),
 (135, 'Sparkling Water'),
 (136, 'Youtiao ohne Kondensmilch'),
 (137, 'Chopsticks'),
 (138, 'Silver')]

In [63]:
# Define mask for both rows to combine
cm_hkkft = repo24_c['Item'].isin(['French Toast', 'French Toast *', 'French Kaya Toast'])

# Find the index of the first 'amber' to insert the combined row
fi_hkkft = repo24_c[repo24_c['Item'] == 'French Toast'].index[0]

# Sum the numeric columns
sum_hkkft = repo24_c.loc[cm_hkkft, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
hkkft = pd.DataFrame([{
    'Item': 'Starter: Hong Kong Kaya French Toast',
    'General: Count': sum_hkkft['General: Count'],
    'General: Total': sum_hkkft['General: Total'],
    'General: %': sum_hkkft['General: %'],
    'In-house: Count': sum_hkkft['In-house: Count'],
    'In-house: Total': sum_hkkft['In-house: Total'],
    'Take-away: Count': sum_hkkft['Take-away: Count'],
    'Take-away: Total': sum_hkkft['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_hkkft].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_hkkft]
bottom = repo24_c.iloc[fi_hkkft:]
repo24_c = pd.concat([top, hkkft, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Af Sparkling Water_'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Drink: Kombucha'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'Add-on: Ayam Goreng 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Kopi'),
 (36, 'Starter: Hong Kong Kaya French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Teh O Ais Limau #1'),
 (41, 'Pandan Pinita Colada'),
 (42, 'Ayam Goreng Rice Bowl'),
 (43, '700ml'),
 (44, 'SET! Kaya EGGS'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Bowl Of Coconut Rice'),
 (47, 'Regular Kaya Jar'),
 (48, 'T-shirt'),
 (49, 'Soursop Soda'),
 (50, 'Pandan Pina Colada'),
 (51, 'GLASS Orange Wine Vigna Flor'),
 (52, 'Tamarind Prawns #1'),
 (53, 'Side Portion Curry'),
 (54, 'Tamarind Sour'),
 (55, 'Side Curry'),
 (56, 'Spicy Ginger Beer'),
 (57, 'Bowl Of Chicken Rice'),
 (58, 'Osmanthus Herbal Infusion'),
 (59, '330ml'),
 (60, 'Kaya Jar'),
 (61, 'Still Water 330ml'),
 (62, 'Promo: Kopi & Kaya Toast'),
 (63, 'Pineapple Aperol Spritz'),
 (64, 'Pandan Pavlova'),
 (65, 'Jujube tea'),
 (66, 'GLASS Red Wine'),
 (67, 'Kopi O -Kosong'),
 (68, 'Kopi Gu Yu'),
 (69, 'Youtiao'),
 (70, 'Sambal Shrimp'),
 (71, 'BOTTLE Orange Wine Vigna Flor'),
 (72, 'Vegan Ayam Goreng'),
 (73, 'Add-on: Soft-boiled eggs'),
 (74, 'Small Kaya Jar'),
 (75, 'Add-on: Krupuk Udang'),
 (76, 'Divers Mains'),
 (77, 'Kopi C'),
 (78, 'Fermented tofu'),
 (79, 'Chrysanthemum Tea'),
 (80, 'Shopping bag'),
 (81, 'Achar Awak'),
 (82, 'Divers Extras'),
 (83, 'Red braised Tofu'),
 (84, 'Sambal Fried Aubergine Bowl'),
 (85, 'Keychain'),
 (86, 'Bitter Guava Schorle'),
 (87, 'Ginger'),
 (88, 'Cendawan Goreng'),
 (89, 'Kaya Croissant'),
 (90, 'Extra AUBERGINE'),
 (91, 'Poster'),
 (92, 'Add-on: Green Beans'),
 (93, 'Pulut Hitam'),
 (94, 'BOTTLE White Wine Tangerine'),
 (95, 'Nasi Camper'),
 (96, 'Raspberry'),
 (97, 'Divers Starters'),
 (98, 'Tempeh + anchovies'),
 (99, 'Curry puffs'),
 (100, 'Guava Mimosa'),
 (101, 'VEGAN AYAM GORENG 2pcs'),
 (102, 'Singapore Fling'),
 (103, 'Divers Getränke'),
 (104, 'Sambal Vegan'),
 (105, 'Extra PRAWNS'),
 (106, 'Ayam Goreng mahjong'),
 (107, 'Extra Chilli sauce'),
 (108, 'Red braised tofu mahjong'),
 (109, 'Divers Tea'),
 (110, 'Divers Dessert'),
 (111, 'Cendol'),
 (112, '1 x Egg (any style)'),
 (113, 'Divers Alcoholic'),
 (114, 'Sambal Fried Aubergine'),
 (115, 'Extra Ginger sauce'),
 (116, 'Lammsbräu Alkoholfrei'),
 (117, 'Gluten Free'),
 (118, 'Pulut Hitam mahjong'),
 (119, 'Divers Coffee'),
 (120, 'Canetta Rose'),
 (121, 'Gulag Sayur'),
 (122, 'Pandan Coconut Bun'),
 (123, 'Sambal Stir-fried Okra'),
 (124, 'To go box'),
 (125, 'Side of Pouched Chicken'),
 (126, 'Toast'),
 (127, 'Youtiao mit Kondensmilch *'),
 (128, '1/2 Egg'),
 (129, 'Youtiao with Condensed Milk'),
 (130, 'Kopi 1'),
 (131, 'Vegetarisch'),
 (132, 'Vegan_'),
 (133, 'Sparkling Water'),
 (134, 'Youtiao ohne Kondensmilch'),
 (135, 'Chopsticks'),
 (136, 'Silver')]

In [64]:
# Define mask for both rows to combine
cm_yout = repo24_c['Item'].isin(['Youtiao', 'Youtiao ohne Kondensmilch'])

# Find the index of the first 'amber' to insert the combined row
fi_yout = repo24_c[repo24_c['Item'] == 'Youtiao'].index[0]

# Sum the numeric columns
sum_yout = repo24_c.loc[cm_yout, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
yout = pd.DataFrame([{
    'Item': 'Add-on: Youtiao',
    'General: Count': sum_yout['General: Count'],
    'General: Total': sum_yout['General: Total'],
    'General: %': sum_yout['General: %'],
    'In-house: Count': sum_yout['In-house: Count'],
    'In-house: Total': sum_yout['In-house: Total'],
    'Take-away: Count': sum_yout['Take-away: Count'],
    'Take-away: Total': sum_yout['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_yout].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_yout]
bottom = repo24_c.iloc[fi_yout:]
repo24_c = pd.concat([top, yout, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Af Sparkling Water_'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Drink: Kombucha'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'Add-on: Ayam Goreng 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Kopi'),
 (36, 'Starter: Hong Kong Kaya French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Teh O Ais Limau #1'),
 (41, 'Pandan Pinita Colada'),
 (42, 'Ayam Goreng Rice Bowl'),
 (43, '700ml'),
 (44, 'SET! Kaya EGGS'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Bowl Of Coconut Rice'),
 (47, 'Regular Kaya Jar'),
 (48, 'T-shirt'),
 (49, 'Soursop Soda'),
 (50, 'Pandan Pina Colada'),
 (51, 'GLASS Orange Wine Vigna Flor'),
 (52, 'Tamarind Prawns #1'),
 (53, 'Side Portion Curry'),
 (54, 'Tamarind Sour'),
 (55, 'Side Curry'),
 (56, 'Spicy Ginger Beer'),
 (57, 'Bowl Of Chicken Rice'),
 (58, 'Osmanthus Herbal Infusion'),
 (59, '330ml'),
 (60, 'Kaya Jar'),
 (61, 'Still Water 330ml'),
 (62, 'Promo: Kopi & Kaya Toast'),
 (63, 'Pineapple Aperol Spritz'),
 (64, 'Pandan Pavlova'),
 (65, 'Jujube tea'),
 (66, 'GLASS Red Wine'),
 (67, 'Kopi O -Kosong'),
 (68, 'Kopi Gu Yu'),
 (69, 'Add-on: Youtiao'),
 (70, 'Sambal Shrimp'),
 (71, 'BOTTLE Orange Wine Vigna Flor'),
 (72, 'Vegan Ayam Goreng'),
 (73, 'Add-on: Soft-boiled eggs'),
 (74, 'Small Kaya Jar'),
 (75, 'Add-on: Krupuk Udang'),
 (76, 'Divers Mains'),
 (77, 'Kopi C'),
 (78, 'Fermented tofu'),
 (79, 'Chrysanthemum Tea'),
 (80, 'Shopping bag'),
 (81, 'Achar Awak'),
 (82, 'Divers Extras'),
 (83, 'Red braised Tofu'),
 (84, 'Sambal Fried Aubergine Bowl'),
 (85, 'Keychain'),
 (86, 'Bitter Guava Schorle'),
 (87, 'Ginger'),
 (88, 'Cendawan Goreng'),
 (89, 'Kaya Croissant'),
 (90, 'Extra AUBERGINE'),
 (91, 'Poster'),
 (92, 'Add-on: Green Beans'),
 (93, 'Pulut Hitam'),
 (94, 'BOTTLE White Wine Tangerine'),
 (95, 'Nasi Camper'),
 (96, 'Raspberry'),
 (97, 'Divers Starters'),
 (98, 'Tempeh + anchovies'),
 (99, 'Curry puffs'),
 (100, 'Guava Mimosa'),
 (101, 'VEGAN AYAM GORENG 2pcs'),
 (102, 'Singapore Fling'),
 (103, 'Divers Getränke'),
 (104, 'Sambal Vegan'),
 (105, 'Extra PRAWNS'),
 (106, 'Ayam Goreng mahjong'),
 (107, 'Extra Chilli sauce'),
 (108, 'Red braised tofu mahjong'),
 (109, 'Divers Tea'),
 (110, 'Divers Dessert'),
 (111, 'Cendol'),
 (112, '1 x Egg (any style)'),
 (113, 'Divers Alcoholic'),
 (114, 'Sambal Fried Aubergine'),
 (115, 'Extra Ginger sauce'),
 (116, 'Lammsbräu Alkoholfrei'),
 (117, 'Gluten Free'),
 (118, 'Pulut Hitam mahjong'),
 (119, 'Divers Coffee'),
 (120, 'Canetta Rose'),
 (121, 'Gulag Sayur'),
 (122, 'Pandan Coconut Bun'),
 (123, 'Sambal Stir-fried Okra'),
 (124, 'To go box'),
 (125, 'Side of Pouched Chicken'),
 (126, 'Toast'),
 (127, 'Youtiao mit Kondensmilch *'),
 (128, '1/2 Egg'),
 (129, 'Youtiao with Condensed Milk'),
 (130, 'Kopi 1'),
 (131, 'Vegetarisch'),
 (132, 'Vegan_'),
 (133, 'Sparkling Water'),
 (134, 'Chopsticks'),
 (135, 'Silver')]

In [65]:
# Define mask for both rows to combine
cm_youtcon = repo24_c['Item'].isin(['Youtiao mit Kondensmilch *', 'Youtiao with Condensed Milk'])

# Find the index of the first 'amber' to insert the combined row
fi_youtcon = repo24_c[repo24_c['Item'] == 'Youtiao mit Kondensmilch *'].index[0]

# Sum the numeric columns
sum_youtcon = repo24_c.loc[cm_youtcon, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
youtcon = pd.DataFrame([{
    'Item': 'Add-on: Youtiao with consensed milk',
    'General: Count': sum_youtcon['General: Count'],
    'General: Total': sum_youtcon['General: Total'],
    'General: %': sum_youtcon['General: %'],
    'In-house: Count': sum_youtcon['In-house: Count'],
    'In-house: Total': sum_youtcon['In-house: Total'],
    'Take-away: Count': sum_youtcon['Take-away: Count'],
    'Take-away: Total': sum_youtcon['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_youtcon].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_youtcon]
bottom = repo24_c.iloc[fi_youtcon:]
repo24_c = pd.concat([top, youtcon, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Af Sparkling Water_'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Drink: Kombucha'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'Add-on: Ayam Goreng 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Kopi'),
 (36, 'Starter: Hong Kong Kaya French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Teh O Ais Limau #1'),
 (41, 'Pandan Pinita Colada'),
 (42, 'Ayam Goreng Rice Bowl'),
 (43, '700ml'),
 (44, 'SET! Kaya EGGS'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Bowl Of Coconut Rice'),
 (47, 'Regular Kaya Jar'),
 (48, 'T-shirt'),
 (49, 'Soursop Soda'),
 (50, 'Pandan Pina Colada'),
 (51, 'GLASS Orange Wine Vigna Flor'),
 (52, 'Tamarind Prawns #1'),
 (53, 'Side Portion Curry'),
 (54, 'Tamarind Sour'),
 (55, 'Side Curry'),
 (56, 'Spicy Ginger Beer'),
 (57, 'Bowl Of Chicken Rice'),
 (58, 'Osmanthus Herbal Infusion'),
 (59, '330ml'),
 (60, 'Kaya Jar'),
 (61, 'Still Water 330ml'),
 (62, 'Promo: Kopi & Kaya Toast'),
 (63, 'Pineapple Aperol Spritz'),
 (64, 'Pandan Pavlova'),
 (65, 'Jujube tea'),
 (66, 'GLASS Red Wine'),
 (67, 'Kopi O -Kosong'),
 (68, 'Kopi Gu Yu'),
 (69, 'Add-on: Youtiao'),
 (70, 'Sambal Shrimp'),
 (71, 'BOTTLE Orange Wine Vigna Flor'),
 (72, 'Vegan Ayam Goreng'),
 (73, 'Add-on: Soft-boiled eggs'),
 (74, 'Small Kaya Jar'),
 (75, 'Add-on: Krupuk Udang'),
 (76, 'Divers Mains'),
 (77, 'Kopi C'),
 (78, 'Fermented tofu'),
 (79, 'Chrysanthemum Tea'),
 (80, 'Shopping bag'),
 (81, 'Achar Awak'),
 (82, 'Divers Extras'),
 (83, 'Red braised Tofu'),
 (84, 'Sambal Fried Aubergine Bowl'),
 (85, 'Keychain'),
 (86, 'Bitter Guava Schorle'),
 (87, 'Ginger'),
 (88, 'Cendawan Goreng'),
 (89, 'Kaya Croissant'),
 (90, 'Extra AUBERGINE'),
 (91, 'Poster'),
 (92, 'Add-on: Green Beans'),
 (93, 'Pulut Hitam'),
 (94, 'BOTTLE White Wine Tangerine'),
 (95, 'Nasi Camper'),
 (96, 'Raspberry'),
 (97, 'Divers Starters'),
 (98, 'Tempeh + anchovies'),
 (99, 'Curry puffs'),
 (100, 'Guava Mimosa'),
 (101, 'VEGAN AYAM GORENG 2pcs'),
 (102, 'Singapore Fling'),
 (103, 'Divers Getränke'),
 (104, 'Sambal Vegan'),
 (105, 'Extra PRAWNS'),
 (106, 'Ayam Goreng mahjong'),
 (107, 'Extra Chilli sauce'),
 (108, 'Red braised tofu mahjong'),
 (109, 'Divers Tea'),
 (110, 'Divers Dessert'),
 (111, 'Cendol'),
 (112, '1 x Egg (any style)'),
 (113, 'Divers Alcoholic'),
 (114, 'Sambal Fried Aubergine'),
 (115, 'Extra Ginger sauce'),
 (116, 'Lammsbräu Alkoholfrei'),
 (117, 'Gluten Free'),
 (118, 'Pulut Hitam mahjong'),
 (119, 'Divers Coffee'),
 (120, 'Canetta Rose'),
 (121, 'Gulag Sayur'),
 (122, 'Pandan Coconut Bun'),
 (123, 'Sambal Stir-fried Okra'),
 (124, 'To go box'),
 (125, 'Side of Pouched Chicken'),
 (126, 'Toast'),
 (127, 'Add-on: Youtiao with consensed milk'),
 (128, '1/2 Egg'),
 (129, 'Kopi 1'),
 (130, 'Vegetarisch'),
 (131, 'Vegan_'),
 (132, 'Sparkling Water'),
 (133, 'Chopsticks'),
 (134, 'Silver')]

In [66]:
# Define mask for both rows to combine
cm_kopi = repo24_c['Item'].isin(['Kopi', 'Kopi 1'])

# Find the index of the first 'amber' to insert the combined row
fi_kopi = repo24_c[repo24_c['Item'] == 'Kopi'].index[0]

# Sum the numeric columns
sum_kopi = repo24_c.loc[cm_kopi, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
kopi = pd.DataFrame([{
    'Item': 'Coffee: Kopi',
    'General: Count': sum_kopi['General: Count'],
    'General: Total': sum_kopi['General: Total'],
    'General: %': sum_kopi['General: %'],
    'In-house: Count': sum_kopi['In-house: Count'],
    'In-house: Total': sum_kopi['In-house: Total'],
    'Take-away: Count': sum_kopi['Take-away: Count'],
    'Take-away: Total': sum_kopi['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_kopi].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_kopi]
bottom = repo24_c.iloc[fi_kopi:]
repo24_c = pd.concat([top, kopi, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Af Sparkling Water_'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Drink: Kombucha'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'Add-on: Ayam Goreng 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Coffee: Kopi'),
 (36, 'Starter: Hong Kong Kaya French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Teh O Ais Limau #1'),
 (41, 'Pandan Pinita Colada'),
 (42, 'Ayam Goreng Rice Bowl'),
 (43, '700ml'),
 (44, 'SET! Kaya EGGS'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Bowl Of Coconut Rice'),
 (47, 'Regular Kaya Jar'),
 (48, 'T-shirt'),
 (49, 'Soursop Soda'),
 (50, 'Pandan Pina Colada'),
 (51, 'GLASS Orange Wine Vigna Flor'),
 (52, 'Tamarind Prawns #1'),
 (53, 'Side Portion Curry'),
 (54, 'Tamarind Sour'),
 (55, 'Side Curry'),
 (56, 'Spicy Ginger Beer'),
 (57, 'Bowl Of Chicken Rice'),
 (58, 'Osmanthus Herbal Infusion'),
 (59, '330ml'),
 (60, 'Kaya Jar'),
 (61, 'Still Water 330ml'),
 (62, 'Promo: Kopi & Kaya Toast'),
 (63, 'Pineapple Aperol Spritz'),
 (64, 'Pandan Pavlova'),
 (65, 'Jujube tea'),
 (66, 'GLASS Red Wine'),
 (67, 'Kopi O -Kosong'),
 (68, 'Kopi Gu Yu'),
 (69, 'Add-on: Youtiao'),
 (70, 'Sambal Shrimp'),
 (71, 'BOTTLE Orange Wine Vigna Flor'),
 (72, 'Vegan Ayam Goreng'),
 (73, 'Add-on: Soft-boiled eggs'),
 (74, 'Small Kaya Jar'),
 (75, 'Add-on: Krupuk Udang'),
 (76, 'Divers Mains'),
 (77, 'Kopi C'),
 (78, 'Fermented tofu'),
 (79, 'Chrysanthemum Tea'),
 (80, 'Shopping bag'),
 (81, 'Achar Awak'),
 (82, 'Divers Extras'),
 (83, 'Red braised Tofu'),
 (84, 'Sambal Fried Aubergine Bowl'),
 (85, 'Keychain'),
 (86, 'Bitter Guava Schorle'),
 (87, 'Ginger'),
 (88, 'Cendawan Goreng'),
 (89, 'Kaya Croissant'),
 (90, 'Extra AUBERGINE'),
 (91, 'Poster'),
 (92, 'Add-on: Green Beans'),
 (93, 'Pulut Hitam'),
 (94, 'BOTTLE White Wine Tangerine'),
 (95, 'Nasi Camper'),
 (96, 'Raspberry'),
 (97, 'Divers Starters'),
 (98, 'Tempeh + anchovies'),
 (99, 'Curry puffs'),
 (100, 'Guava Mimosa'),
 (101, 'VEGAN AYAM GORENG 2pcs'),
 (102, 'Singapore Fling'),
 (103, 'Divers Getränke'),
 (104, 'Sambal Vegan'),
 (105, 'Extra PRAWNS'),
 (106, 'Ayam Goreng mahjong'),
 (107, 'Extra Chilli sauce'),
 (108, 'Red braised tofu mahjong'),
 (109, 'Divers Tea'),
 (110, 'Divers Dessert'),
 (111, 'Cendol'),
 (112, '1 x Egg (any style)'),
 (113, 'Divers Alcoholic'),
 (114, 'Sambal Fried Aubergine'),
 (115, 'Extra Ginger sauce'),
 (116, 'Lammsbräu Alkoholfrei'),
 (117, 'Gluten Free'),
 (118, 'Pulut Hitam mahjong'),
 (119, 'Divers Coffee'),
 (120, 'Canetta Rose'),
 (121, 'Gulag Sayur'),
 (122, 'Pandan Coconut Bun'),
 (123, 'Sambal Stir-fried Okra'),
 (124, 'To go box'),
 (125, 'Side of Pouched Chicken'),
 (126, 'Toast'),
 (127, 'Add-on: Youtiao with consensed milk'),
 (128, '1/2 Egg'),
 (129, 'Vegetarisch'),
 (130, 'Vegan_'),
 (131, 'Sparkling Water'),
 (132, 'Chopsticks'),
 (133, 'Silver')]

In [67]:
# Define mask for both rows to combine
cm_kj = repo24_c['Item'].isin(['Regular Kaya Jar', 'Kaya Jar'])

# Find the index of the first 'amber' to insert the combined row
fi_kj = repo24_c[repo24_c['Item'] == 'Regular Kaya Jar'].index[0]

# Sum the numeric columns
sum_kj = repo24_c.loc[cm_kj, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
kj = pd.DataFrame([{
    'Item': 'Extra: Kaya Jar 220ml',
    'General: Count': sum_kj['General: Count'],
    'General: Total': sum_kj['General: Total'],
    'General: %': sum_kj['General: %'],
    'In-house: Count': sum_kj['In-house: Count'],
    'In-house: Total': sum_kj['In-house: Total'],
    'Take-away: Count': sum_kj['Take-away: Count'],
    'Take-away: Total': sum_kj['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_kj].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_kj]
bottom = repo24_c.iloc[fi_kj:]
repo24_c = pd.concat([top, kj, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Af Sparkling Water_'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Drink: Kombucha'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'Add-on: Ayam Goreng 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Coffee: Kopi'),
 (36, 'Starter: Hong Kong Kaya French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Teh O Ais Limau #1'),
 (41, 'Pandan Pinita Colada'),
 (42, 'Ayam Goreng Rice Bowl'),
 (43, '700ml'),
 (44, 'SET! Kaya EGGS'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Bowl Of Coconut Rice'),
 (47, 'Extra: Kaya Jar 220ml'),
 (48, 'T-shirt'),
 (49, 'Soursop Soda'),
 (50, 'Pandan Pina Colada'),
 (51, 'GLASS Orange Wine Vigna Flor'),
 (52, 'Tamarind Prawns #1'),
 (53, 'Side Portion Curry'),
 (54, 'Tamarind Sour'),
 (55, 'Side Curry'),
 (56, 'Spicy Ginger Beer'),
 (57, 'Bowl Of Chicken Rice'),
 (58, 'Osmanthus Herbal Infusion'),
 (59, '330ml'),
 (60, 'Still Water 330ml'),
 (61, 'Promo: Kopi & Kaya Toast'),
 (62, 'Pineapple Aperol Spritz'),
 (63, 'Pandan Pavlova'),
 (64, 'Jujube tea'),
 (65, 'GLASS Red Wine'),
 (66, 'Kopi O -Kosong'),
 (67, 'Kopi Gu Yu'),
 (68, 'Add-on: Youtiao'),
 (69, 'Sambal Shrimp'),
 (70, 'BOTTLE Orange Wine Vigna Flor'),
 (71, 'Vegan Ayam Goreng'),
 (72, 'Add-on: Soft-boiled eggs'),
 (73, 'Small Kaya Jar'),
 (74, 'Add-on: Krupuk Udang'),
 (75, 'Divers Mains'),
 (76, 'Kopi C'),
 (77, 'Fermented tofu'),
 (78, 'Chrysanthemum Tea'),
 (79, 'Shopping bag'),
 (80, 'Achar Awak'),
 (81, 'Divers Extras'),
 (82, 'Red braised Tofu'),
 (83, 'Sambal Fried Aubergine Bowl'),
 (84, 'Keychain'),
 (85, 'Bitter Guava Schorle'),
 (86, 'Ginger'),
 (87, 'Cendawan Goreng'),
 (88, 'Kaya Croissant'),
 (89, 'Extra AUBERGINE'),
 (90, 'Poster'),
 (91, 'Add-on: Green Beans'),
 (92, 'Pulut Hitam'),
 (93, 'BOTTLE White Wine Tangerine'),
 (94, 'Nasi Camper'),
 (95, 'Raspberry'),
 (96, 'Divers Starters'),
 (97, 'Tempeh + anchovies'),
 (98, 'Curry puffs'),
 (99, 'Guava Mimosa'),
 (100, 'VEGAN AYAM GORENG 2pcs'),
 (101, 'Singapore Fling'),
 (102, 'Divers Getränke'),
 (103, 'Sambal Vegan'),
 (104, 'Extra PRAWNS'),
 (105, 'Ayam Goreng mahjong'),
 (106, 'Extra Chilli sauce'),
 (107, 'Red braised tofu mahjong'),
 (108, 'Divers Tea'),
 (109, 'Divers Dessert'),
 (110, 'Cendol'),
 (111, '1 x Egg (any style)'),
 (112, 'Divers Alcoholic'),
 (113, 'Sambal Fried Aubergine'),
 (114, 'Extra Ginger sauce'),
 (115, 'Lammsbräu Alkoholfrei'),
 (116, 'Gluten Free'),
 (117, 'Pulut Hitam mahjong'),
 (118, 'Divers Coffee'),
 (119, 'Canetta Rose'),
 (120, 'Gulag Sayur'),
 (121, 'Pandan Coconut Bun'),
 (122, 'Sambal Stir-fried Okra'),
 (123, 'To go box'),
 (124, 'Side of Pouched Chicken'),
 (125, 'Toast'),
 (126, 'Add-on: Youtiao with consensed milk'),
 (127, '1/2 Egg'),
 (128, 'Vegetarisch'),
 (129, 'Vegan_'),
 (130, 'Sparkling Water'),
 (131, 'Chopsticks'),
 (132, 'Silver')]

In [68]:
# Define mask for both rows to combine
cm_scotw = repo24_c['Item'].isin(['Side Portion Curry', 'Side Curry'])

# Find the index of the first 'amber' to insert the combined row
fi_scotw = repo24_c[repo24_c['Item'] == 'Side Portion Curry'].index[0]

# Sum the numeric columns
sum_scotw = repo24_c.loc[cm_scotw, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
scotw = pd.DataFrame([{
    'Item': 'Add-on: Side portion of CotW',
    'General: Count': sum_scotw['General: Count'],
    'General: Total': sum_scotw['General: Total'],
    'General: %': sum_scotw['General: %'],
    'In-house: Count': sum_scotw['In-house: Count'],
    'In-house: Total': sum_scotw['In-house: Total'],
    'Take-away: Count': sum_scotw['Take-away: Count'],
    'Take-away: Total': sum_scotw['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_scotw].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_scotw]
bottom = repo24_c.iloc[fi_scotw:]
repo24_c = pd.concat([top, scotw, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Af Sparkling Water_'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Drink: Kombucha'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'Add-on: Ayam Goreng 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Coffee: Kopi'),
 (36, 'Starter: Hong Kong Kaya French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Teh O Ais Limau #1'),
 (41, 'Pandan Pinita Colada'),
 (42, 'Ayam Goreng Rice Bowl'),
 (43, '700ml'),
 (44, 'SET! Kaya EGGS'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Bowl Of Coconut Rice'),
 (47, 'Extra: Kaya Jar 220ml'),
 (48, 'T-shirt'),
 (49, 'Soursop Soda'),
 (50, 'Pandan Pina Colada'),
 (51, 'GLASS Orange Wine Vigna Flor'),
 (52, 'Tamarind Prawns #1'),
 (53, 'Add-on: Side portion of CotW'),
 (54, 'Tamarind Sour'),
 (55, 'Spicy Ginger Beer'),
 (56, 'Bowl Of Chicken Rice'),
 (57, 'Osmanthus Herbal Infusion'),
 (58, '330ml'),
 (59, 'Still Water 330ml'),
 (60, 'Promo: Kopi & Kaya Toast'),
 (61, 'Pineapple Aperol Spritz'),
 (62, 'Pandan Pavlova'),
 (63, 'Jujube tea'),
 (64, 'GLASS Red Wine'),
 (65, 'Kopi O -Kosong'),
 (66, 'Kopi Gu Yu'),
 (67, 'Add-on: Youtiao'),
 (68, 'Sambal Shrimp'),
 (69, 'BOTTLE Orange Wine Vigna Flor'),
 (70, 'Vegan Ayam Goreng'),
 (71, 'Add-on: Soft-boiled eggs'),
 (72, 'Small Kaya Jar'),
 (73, 'Add-on: Krupuk Udang'),
 (74, 'Divers Mains'),
 (75, 'Kopi C'),
 (76, 'Fermented tofu'),
 (77, 'Chrysanthemum Tea'),
 (78, 'Shopping bag'),
 (79, 'Achar Awak'),
 (80, 'Divers Extras'),
 (81, 'Red braised Tofu'),
 (82, 'Sambal Fried Aubergine Bowl'),
 (83, 'Keychain'),
 (84, 'Bitter Guava Schorle'),
 (85, 'Ginger'),
 (86, 'Cendawan Goreng'),
 (87, 'Kaya Croissant'),
 (88, 'Extra AUBERGINE'),
 (89, 'Poster'),
 (90, 'Add-on: Green Beans'),
 (91, 'Pulut Hitam'),
 (92, 'BOTTLE White Wine Tangerine'),
 (93, 'Nasi Camper'),
 (94, 'Raspberry'),
 (95, 'Divers Starters'),
 (96, 'Tempeh + anchovies'),
 (97, 'Curry puffs'),
 (98, 'Guava Mimosa'),
 (99, 'VEGAN AYAM GORENG 2pcs'),
 (100, 'Singapore Fling'),
 (101, 'Divers Getränke'),
 (102, 'Sambal Vegan'),
 (103, 'Extra PRAWNS'),
 (104, 'Ayam Goreng mahjong'),
 (105, 'Extra Chilli sauce'),
 (106, 'Red braised tofu mahjong'),
 (107, 'Divers Tea'),
 (108, 'Divers Dessert'),
 (109, 'Cendol'),
 (110, '1 x Egg (any style)'),
 (111, 'Divers Alcoholic'),
 (112, 'Sambal Fried Aubergine'),
 (113, 'Extra Ginger sauce'),
 (114, 'Lammsbräu Alkoholfrei'),
 (115, 'Gluten Free'),
 (116, 'Pulut Hitam mahjong'),
 (117, 'Divers Coffee'),
 (118, 'Canetta Rose'),
 (119, 'Gulag Sayur'),
 (120, 'Pandan Coconut Bun'),
 (121, 'Sambal Stir-fried Okra'),
 (122, 'To go box'),
 (123, 'Side of Pouched Chicken'),
 (124, 'Toast'),
 (125, 'Add-on: Youtiao with consensed milk'),
 (126, '1/2 Egg'),
 (127, 'Vegetarisch'),
 (128, 'Vegan_'),
 (129, 'Sparkling Water'),
 (130, 'Chopsticks'),
 (131, 'Silver')]

In [69]:
# Define mask for both rows to combine
cm_sw = repo24_c['Item'].isin(['Af Sparkling Water_', 'Sparkling Water'])

# Find the index of the first 'amber' to insert the combined row
fi_sw = repo24_c[repo24_c['Item'] == 'Af Sparkling Water_'].index[0]

# Sum the numeric columns
sum_sw = repo24_c.loc[cm_sw, ['General: Count', 'General: Total', 'General: %', 'In-house: Count', 'In-house: Total', 'Take-away: Count', 'Take-away: Total']].sum()

# Create the new summarized row
sw = pd.DataFrame([{
    'Item': 'Drink: Sparkling Water',
    'General: Count': sum_sw['General: Count'],
    'General: Total': sum_sw['General: Total'],
    'General: %': sum_sw['General: %'],
    'In-house: Count': sum_sw['In-house: Count'],
    'In-house: Total': sum_sw['In-house: Total'],
    'Take-away: Count': sum_sw['Take-away: Count'],
    'Take-away: Total': sum_sw['Take-away: Total']
}])

# Remove original rows
repo24_c = repo24_c.loc[~cm_sw].reset_index(drop=True)

# Insert the summarized row at the correct location
top = repo24_c.iloc[:fi_sw]
bottom = repo24_c.iloc[fi_sw:]
repo24_c = pd.concat([top, sw, bottom], ignore_index=True)

list(repo24_c['Item'].items())

[(0, 'Food'),
 (1, 'Category: Drink'),
 (2, 'Other'),
 (3, 'Mains'),
 (4, 'Starters'),
 (5, 'Tea'),
 (6, 'Alcoholic'),
 (7, 'Extras'),
 (8, 'Coffee'),
 (9, 'Dessert'),
 (10, 'Oaf Add On Mains'),
 (11, 'Drink: Sparkling Water'),
 (12, 'Merch'),
 (13, 'Oaf Add On Starters'),
 (14, 'Drink: Kombucha'),
 (15, 'Early Bird Promotion'),
 (16, 'Cutlery'),
 (17, 'Nasi Lemak'),
 (18, 'Hainanese Chicken Rice'),
 (19, 'Curry Of The Week'),
 (20, 'Prawn Laksa #1'),
 (21, 'Hainanese Chicken Rice DINNER'),
 (22, 'Ayam Goreng'),
 (23, 'Tauhu Goreng'),
 (24, 'Mushroom Congee'),
 (25, 'Kohlrabi Kerabu'),
 (26, 'Aubergine Laksa #1'),
 (27, 'Kaya Butter Toast'),
 (28, 'Lychee Lime Fizz'),
 (29, 'Teh Tarik'),
 (30, 'Teh Ais'),
 (31, 'Sago Pudding'),
 (32, 'Add-on: Ayam Goreng 2pcs'),
 (33, 'Kopi Peng'),
 (34, 'Tiger Beer'),
 (35, 'Coffee: Kopi'),
 (36, 'Starter: Hong Kong Kaya French Toast'),
 (37, 'Curry Of The Week DINNER'),
 (38, 'Chwee Kueh #1'),
 (39, 'Coconut Water'),
 (40, 'Teh O Ais Limau #1'),
 (41, 'Pandan Pinita Colada'),
 (42, 'Ayam Goreng Rice Bowl'),
 (43, '700ml'),
 (44, 'SET! Kaya EGGS'),
 (45, 'Lychee Gin Spritz'),
 (46, 'Bowl Of Coconut Rice'),
 (47, 'Extra: Kaya Jar 220ml'),
 (48, 'T-shirt'),
 (49, 'Soursop Soda'),
 (50, 'Pandan Pina Colada'),
 (51, 'GLASS Orange Wine Vigna Flor'),
 (52, 'Tamarind Prawns #1'),
 (53, 'Add-on: Side portion of CotW'),
 (54, 'Tamarind Sour'),
 (55, 'Spicy Ginger Beer'),
 (56, 'Bowl Of Chicken Rice'),
 (57, 'Osmanthus Herbal Infusion'),
 (58, '330ml'),
 (59, 'Still Water 330ml'),
 (60, 'Promo: Kopi & Kaya Toast'),
 (61, 'Pineapple Aperol Spritz'),
 (62, 'Pandan Pavlova'),
 (63, 'Jujube tea'),
 (64, 'GLASS Red Wine'),
 (65, 'Kopi O -Kosong'),
 (66, 'Kopi Gu Yu'),
 (67, 'Add-on: Youtiao'),
 (68, 'Sambal Shrimp'),
 (69, 'BOTTLE Orange Wine Vigna Flor'),
 (70, 'Vegan Ayam Goreng'),
 (71, 'Add-on: Soft-boiled eggs'),
 (72, 'Small Kaya Jar'),
 (73, 'Add-on: Krupuk Udang'),
 (74, 'Divers Mains'),
 (75, 'Kopi C'),
 (76, 'Fermented tofu'),
 (77, 'Chrysanthemum Tea'),
 (78, 'Shopping bag'),
 (79, 'Achar Awak'),
 (80, 'Divers Extras'),
 (81, 'Red braised Tofu'),
 (82, 'Sambal Fried Aubergine Bowl'),
 (83, 'Keychain'),
 (84, 'Bitter Guava Schorle'),
 (85, 'Ginger'),
 (86, 'Cendawan Goreng'),
 (87, 'Kaya Croissant'),
 (88, 'Extra AUBERGINE'),
 (89, 'Poster'),
 (90, 'Add-on: Green Beans'),
 (91, 'Pulut Hitam'),
 (92, 'BOTTLE White Wine Tangerine'),
 (93, 'Nasi Camper'),
 (94, 'Raspberry'),
 (95, 'Divers Starters'),
 (96, 'Tempeh + anchovies'),
 (97, 'Curry puffs'),
 (98, 'Guava Mimosa'),
 (99, 'VEGAN AYAM GORENG 2pcs'),
 (100, 'Singapore Fling'),
 (101, 'Divers Getränke'),
 (102, 'Sambal Vegan'),
 (103, 'Extra PRAWNS'),
 (104, 'Ayam Goreng mahjong'),
 (105, 'Extra Chilli sauce'),
 (106, 'Red braised tofu mahjong'),
 (107, 'Divers Tea'),
 (108, 'Divers Dessert'),
 (109, 'Cendol'),
 (110, '1 x Egg (any style)'),
 (111, 'Divers Alcoholic'),
 (112, 'Sambal Fried Aubergine'),
 (113, 'Extra Ginger sauce'),
 (114, 'Lammsbräu Alkoholfrei'),
 (115, 'Gluten Free'),
 (116, 'Pulut Hitam mahjong'),
 (117, 'Divers Coffee'),
 (118, 'Canetta Rose'),
 (119, 'Gulag Sayur'),
 (120, 'Pandan Coconut Bun'),
 (121, 'Sambal Stir-fried Okra'),
 (122, 'To go box'),
 (123, 'Side of Pouched Chicken'),
 (124, 'Toast'),
 (125, 'Add-on: Youtiao with consensed milk'),
 (126, '1/2 Egg'),
 (127, 'Vegetarisch'),
 (128, 'Vegan_'),
 (129, 'Chopsticks'),
 (130, 'Silver')]

In [70]:
repo24_c.loc[0, 'Item'] = 'Category: Food'

repo24_c.loc[2, 'Item'] = 'Category: Other'
repo24_c.loc[3, 'Item'] = 'Category: Main'
repo24_c.loc[4, 'Item'] = 'Category: Starter'
repo24_c.loc[5, 'Item'] = 'Category: Tea'
repo24_c.loc[6, 'Item'] = 'Drink: Alcoholic'
repo24_c.loc[7, 'Item'] = 'Category: Extra'
repo24_c.loc[8, 'Item'] = 'Category: Coffee'
repo24_c.loc[9, 'Item'] = 'Category: Dessert'
repo24_c.loc[10, 'Item'] = 'Add-on: Main'

repo24_c.loc[12, 'Item'] = 'Extra: Merch'
repo24_c.loc[13, 'Item'] = 'Add-on: Starter'

repo24_c.loc[15, 'Item'] = 'Promo: Early Bird'
repo24_c.loc[16, 'Item'] = 'Extra: Cutlery'
repo24_c.loc[17, 'Item'] = 'Main: Nasi Lemak'
repo24_c.loc[18, 'Item'] = 'Main: Hainanese Chicken Rice'
repo24_c.loc[19, 'Item'] = 'Main: Curry of the Week'
repo24_c.loc[20, 'Item'] = 'Main: Prawn Laksa'
repo24_c.loc[21, 'Item'] = 'Main: Hainanese Chicken Rice (Dinner)'
repo24_c.loc[22, 'Item'] = 'Starter: Ayam Goreng'
repo24_c.loc[23, 'Item'] = 'Starter: Tauhu Goreng'
repo24_c.loc[24, 'Item'] = 'Main: Mushroom Congee'
repo24_c.loc[25, 'Item'] = 'Main: Kohlrabi Kerabu'
repo24_c.loc[26, 'Item'] = 'Main: Aubergine Laksa'
repo24_c.loc[27, 'Item'] = 'Starter: Kaya Butter Toast'
repo24_c.loc[28, 'Item'] = 'Drink: Lychee Lime Fizz'
repo24_c.loc[29, 'Item'] = 'Tea: Teh Tarik'
repo24_c.loc[30, 'Item'] = 'Tea: Teh Ais'
repo24_c.loc[31, 'Item'] = 'Dessert: Sago Pudding'

repo24_c.loc[33, 'Item'] = 'Coffee: Kopi Peng'
repo24_c.loc[34, 'Item'] = 'Alcoholic: Tiger Beer'


repo24_c.loc[37, 'Item'] = 'Main: Curry of the Week (Dinner)'
repo24_c.loc[38, 'Item'] = 'Starter: Chwee Kueh'
repo24_c.loc[39, 'Item'] = 'Drink: Coconut Water'
repo24_c.loc[40, 'Item'] = 'Tea: Teh O Ais Limau'
repo24_c.loc[41, 'Item'] = 'Drink: Pandan Piñita Colada'
repo24_c.loc[42, 'Item'] = 'Promo: Ayam Goreng Rice Bowl'
repo24_c.loc[43, 'Item'] = 'Drink: Sparkling Water 700ml'
repo24_c.loc[44, 'Item'] = 'Promo: Kopi & Kaya Toast with eggs'
repo24_c.loc[45, 'Item'] = 'Alcoholic: Lychee Gin Spritz'
repo24_c.loc[46, 'Item'] = 'Add-on: Bowl of Coconut Rice'

repo24_c.loc[48, 'Item'] = 'Extra: T-shirt'
repo24_c.loc[49, 'Item'] = 'Drink: Soursop Soda'
repo24_c.loc[50, 'Item'] = 'Alcoholic: Pandan Piña Colada'
repo24_c.loc[51, 'Item'] = 'Alcoholic: Orange Wine Vigna Flor (Glass)'
repo24_c.loc[52, 'Item'] = 'Starter: Tamarind Prawns'

repo24_c.loc[54, 'Item'] = 'Alcoholic: Tamarind Sour'
repo24_c.loc[55, 'Item'] = 'Drink: Spicy Ginger Beer'
repo24_c.loc[56, 'Item'] = 'Add-on: Bowl of Chicken Rice'
repo24_c.loc[57, 'Item'] = 'Tea: Osmanthus Herbal Infusion'
repo24_c.loc[58, 'Item'] = 'Drink: Sparkling Water 330ml'
repo24_c.loc[59, 'Item'] = 'Drink: Mineral Water 330ml'

repo24_c.loc[61, 'Item'] = 'Alcoholic: Pineapple Aperol Spritz'
repo24_c.loc[62, 'Item'] = 'Dessert: Pandan Pavlova'
repo24_c.loc[63, 'Item'] = 'Tea: Jujube tea'
repo24_c.loc[64, 'Item'] = 'Alcoholic: Red Wine (Glass)'
repo24_c.loc[65, 'Item'] = 'Coffee: Kopi O -Kosong'
repo24_c.loc[66, 'Item'] = 'Coffee: Kopi Gu Yu'

repo24_c.loc[68, 'Item'] = 'Add-on: Sambal Shrimp'
repo24_c.loc[69, 'Item'] = 'Alcoholic: Orange Wine Vigna Flor (Bottle)'
repo24_c.loc[70, 'Item'] = 'Starter: Vegan Ayam Goreng'

repo24_c.loc[72, 'Item'] = 'Extra: Kaya Jar 100ml'

repo24_c.loc[74, 'Item'] = 'Main: divers'
repo24_c.loc[75, 'Item'] = 'Coffee: Kopi C'
repo24_c.loc[76, 'Item'] = 'Add-on: Fermented tofu'
repo24_c.loc[77, 'Item'] = 'Tea: Chrysanthemum Herbal Infusion'
repo24_c.loc[78, 'Item'] = 'Extra: Shopping bag'
repo24_c.loc[79, 'Item'] = 'Add-on: Achar Awak'
repo24_c.loc[80, 'Item'] = 'Extra: divers'
repo24_c.loc[81, 'Item'] = 'Main: Red Braised Tofu'
repo24_c.loc[82, 'Item'] = 'Promo: Sambal Fried Aubergine Bowl'
repo24_c.loc[83, 'Item'] = 'Extra: Keychain'
repo24_c.loc[84, 'Item'] = 'Drink: Bitter Guava Schorle'
repo24_c.loc[85, 'Item'] = 'Drink: Kombucha Ginger'
repo24_c.loc[86, 'Item'] = 'Starter: Cendawan Goreng'
repo24_c.loc[87, 'Item'] = 'Starter: Kaya Croissant'
repo24_c.loc[88, 'Item'] = 'Add-on: Laksa Fried Aubergine'
repo24_c.loc[89, 'Item'] = 'Extra: Poster'

repo24_c.loc[91, 'Item'] = 'Dessert: Pulut Hitam'
repo24_c.loc[92, 'Item'] = 'Alcoholic: White Wine Tangerine (Bottle)'
repo24_c.loc[93, 'Item'] = 'Main: Nasi Campur'
repo24_c.loc[94, 'Item'] = 'Drink: Kombucha Raspberry'
repo24_c.loc[95, 'Item'] = 'Starter: divers'
repo24_c.loc[96, 'Item'] = 'Add-on: Tempeh & Anchovies'
repo24_c.loc[97, 'Item'] = 'Starter: Curry Puffs'
repo24_c.loc[98, 'Item'] = 'Alcoholic: Guava Mimosa'
repo24_c.loc[99, 'Item'] = 'Add-on: Vegan Ayam Goreng 2pcs'
repo24_c.loc[100, 'Item'] = 'Alcoholic: Singapore Fling'
repo24_c.loc[101, 'Item'] = 'Drink: divers'
repo24_c.loc[102, 'Item'] = 'Add-on: Vegan Sambal'
repo24_c.loc[103, 'Item'] = 'Add-on: Laksa Boiled Prawns'
repo24_c.loc[104, 'Item'] = 'Promo: Mahjong Ayam Goreng'
repo24_c.loc[105, 'Item'] = 'Add-on: Chili sauce'
repo24_c.loc[106, 'Item'] = 'Promo: Mahjong Red Braised Tofu'
repo24_c.loc[107, 'Item'] = 'Tea: divers'
repo24_c.loc[108, 'Item'] = 'Dessert: divers'
repo24_c.loc[109, 'Item'] = 'Dessert: Cendol'
repo24_c.loc[110, 'Item'] = 'Add-on: x1 Egg (any type)'
repo24_c.loc[111, 'Item'] = 'Alcoholic: divers'
repo24_c.loc[112, 'Item'] = 'Add-on: Sambal Fried Aubergine'
repo24_c.loc[113, 'Item'] = 'Add-on: Spring Onion & Ginger sauce'
repo24_c.loc[114, 'Item'] = 'Drink: Lammsbräu Alkoholfrei'
repo24_c.loc[115, 'Item'] = 'Add-on: Gluten-free bread'
repo24_c.loc[116, 'Item'] = 'Promo: Mahjong Pulut Hitam'
repo24_c.loc[117, 'Item'] = 'Coffee: divers'
repo24_c.loc[118, 'Item'] = 'Alcoholic: Canetta Rosé (Glass)'
repo24_c.loc[119, 'Item'] = 'Main: Gulag Sayur'
repo24_c.loc[120, 'Item'] = 'Dessert: Pandan Coconut Bun'
repo24_c.loc[121, 'Item'] = 'Add-on: Sambal Stir-Fried Okra'
repo24_c.loc[122, 'Item'] = 'Extra: To-go box'
repo24_c.loc[123, 'Item'] = 'Add-on: Side portion of poached chicken'
repo24_c.loc[124, 'Item'] = 'Add-on: Toast'

repo24_c.loc[126, 'Item'] = 'Add-on: 1/2 Boiled Egg'
repo24_c.loc[127, 'Item'] = 'Main: Nasi Leman Vegetarian'
repo24_c.loc[128, 'Item'] = 'Main: Nasi Leman Vegan'
repo24_c.loc[129, 'Item'] = 'Extra: To-go Chopsticks'
repo24_c.loc[130, 'Item'] = 'Extra: Silver'

In [71]:
# check df (again)

print(repo24_c.head())
print(repo24_c.columns)
print(repo24_c.info())

                Item  General: Count        General: Total     General: %  \
0     Category: Food         38095.0           €390,708.66        79.90 %
1    Category: Drink         27887.0  €94,512.50€29,485.62  19.33 %6.03 %
2    Category: Other           180.0             €3,768.00         0.77 %
3     Category: Main         18688.0           €281,271.06        57.52 %
4  Category: Starter          9025.0            €71,914.36        14.71 %

  In-house: Count       In-house: Total Take-away: Count    Take-away: Total
0           31987           €330,904.71             6108          €59,803.95
1       200506685  €90,790.10€28,014.12           855297  €3,722.40€1,471.50
2             121             €2,611.60               59           €1,156.40
3           16149           €241,621.88             2539          €39,649.18
4            7564            €59,643.06             1461          €12,271.30
Index(['Item', 'General: Count', 'General: Total', 'General: %',
       'In-house: Count', 'In-house: Total', 'Take-away: Count',
       'Take-away: Total'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Item              131 non-null    object
 1   General: Count    131 non-null    float64
 2   General: Total    131 non-null    object
 3   General: %        131 non-null    object
 4   In-house: Count   131 non-null    object
 5   In-house: Total   131 non-null    object
 6   Take-away: Count  131 non-null    object
 7   Take-away: Total  131 non-null    object
dtypes: float64(1), object(7)
memory usage: 8.3+ KB
None

In [72]:
# add 'Year' column

repo24_c['Year'] = '2024'
repo24_c

,Item,General: Count,General: Total,General: %,In-house: Count,In-house: Total,Take-away: Count,Take-away: Total,Year
0,Category: Food,38095.0,"€390,708.66",79.90 %,31987,"€330,904.71",6108,"€59,803.95",2024
1,Category: Drink,27887.0,"€94,512.50€29,485.62",19.33 %6.03 %,200506685,"€90,790.10€28,014.12",855297,"€3,722.40€1,471.50",2024
2,Category: Other,180.0,"€3,768.00",0.77 %,121,"€2,611.60",59,"€1,156.40",2024
3,Category: Main,18688.0,"€281,271.06",57.52 %,16149,"€241,621.88",2539,"€39,649.18",2024
4,Category: Starter,9025.0,"€71,914.36",14.71 %,7564,"€59,643.06",1461,"€12,271.30",2024
...,...,...,...,...,...,...,...,...,...
126,Add-on: 1/2 Boiled Egg,4.0,€4.00,0.00 %,4,€4.00,0,€0.00,2024
127,Main: Nasi Leman Vegetarian,965.0,€0.00,0.00 %,865,€0.00,100,€0.00,2024
128,Main: Nasi Leman Vegan,281.0,€0.00,0.00 %,246,€0.00,35,€0.00,2024
129,Extra: To-go Chopsticks,19.0,€0.00,0.00 %,19,€0.00,0,€0.00,2024
130,Extra: Silver,40.0,€0.00,0.00 %,40,€0.00,0,€0.00,2024

In [73]:
# export cleanead df to csv

repo24_c.to_csv('../data_files/repo24_c.csv', index=False)